/* 
**
*** PÁGINA DE EVENTOS
*** SINGLE DE EVENTO
**
*/

/* PÁGINA DE EVENTOS */
.pg-eventos{

}
	.pg-eventos .secao-eventos{
		padding: 150px 0;
		background-color: var(--cinza-fundo);
	}
		.pg-eventos .secao-eventos .lista-eventos{

		}
			.pg-eventos .secao-eventos .lista-eventos li{
				margin: 0 0 50px;
			}
				.pg-eventos .secao-eventos .lista-eventos li .link-imagem{

				}
					.pg-eventos .secao-eventos .lista-eventos li .link-imagem figure{

					}
						.pg-eventos .secao-eventos .lista-eventos li .link-imagem figure img{

						}
				.pg-eventos .secao-eventos .lista-eventos li .data-evento{

				}
				.pg-eventos .secao-eventos .lista-eventos li .link-titulo{

				}
					.pg-eventos .secao-eventos .lista-eventos li .link-titulo .titulo{

					}
/* PÁGINA DE EVENTOS */


/* SINGLE DE EVENTO */
.pg-evento{}
	.pg-evento .secao-destaque-single{
		height: 300px;
	}
	.pg-evento .secao-conteudo-evento{
		padding: 0 0 100px;
	}
		.pg-evento .secao-conteudo-evento .voltar{
			display: inline-block;
			float: left;
			margin: 0 0 0 105px;
			width: 100%;
			max-width: 28px;
		}
			.pg-evento .secao-conteudo-evento .voltar img{
				width: 100%;
				max-width: 28px;
			}
		.pg-evento .secao-conteudo-evento article{
			width: 100%;
			max-width: 800px;
			display: block;
			margin: 60px auto 0;
		}
			.pg-evento .secao-conteudo-evento article .titulo{
				text-align: center;
				width: 100%;
				max-width: 600px;
				display: block;
				margin: 0 auto;
			}
			.pg-evento .secao-conteudo-evento article .data-evento{
				text-align: center;
				display: block;
				font-size: 12px;
				font-weight: 600;
				font-family: var(--roboto);
				color: var(--cinza);
				letter-spacing: 3px;
				text-transform: uppercase;
				margin: 31px 0 22px;
			}
			.pg-evento .secao-conteudo-evento article p{
				width: 100%;
				max-width: 600px;
				display: block;
				margin: 0 auto;
				font-size: var(--font-size-texto);
				color: var(--cinza);
				font-family: var(--roboto);
			}
			.pg-evento .secao-conteudo-evento article figure{
				margin: 55px 0 52px;
			}
				.pg-evento .secao-conteudo-evento article figure img{
					width: 100%;
					max-width: 100%;
					height: auto;
				}
			.pg-evento .secao-conteudo-evento article h2, .pg-evento .secao-conteudo-evento article h3, .pg-evento .secao-conteudo-evento article h4{
				width: 100%;
				max-width: 600px;
				display: block;
				margin: 20px auto;
				font-size: var(--roboto);
				text-transform: uppercase;
				font-weight: 700;
				letter-spacing: 3px;
			}
			.pg-evento .secao-conteudo-evento article h2{
				font-size: 14px;
			}
			.pg-evento .secao-conteudo-evento article h3{
				font-size: 13px;
			}
			.pg-evento .secao-conteudo-evento article h4{
				font-size: 12px;
			}
			.pg-evento .secao-conteudo-evento article ul, .pg-evento .secao-conteudo-evento article ol{
				padding: 0;
				width: 100%;
				max-width: 600px;
				display: block;
				margin: 10px auto;
			}
			.pg-evento .secao-conteudo-evento article ul li, .pg-evento .secao-conteudo-evento article ol li{
				display: list-item;
				list-style: unset;
				list-style-position: inside;
			}
			.pg-evento .secao-conteudo-evento article ul{}
				.pg-evento .secao-conteudo-evento article ul li{}
			.pg-evento .secao-conteudo-evento article ol{}
				.pg-evento .secao-conteudo-evento article ol li{}
			.pg-evento .secao-conteudo-evento article .gallery{
				margin: 55px 0 52px;
			}
				.pg-evento .secao-conteudo-evento article .gallery .gallery-item{
					display: inline-block;
					width: 100%;
					max-width: 33.33%;
					padding: 0 2% 30px;
					margin: 0;
				}
					.pg-evento .secao-conteudo-evento article .gallery .gallery-item .gallery-icon{}
						.pg-evento .secao-conteudo-evento article .gallery .gallery-item .gallery-icon a{
							display: block;
						}
							.pg-evento .secao-conteudo-evento article .gallery .gallery-item .gallery-icon a img{}
	.pg-evento .secao-eventos-relacionados{
		background-color: var(--cinza-fundo);
		padding: 80px 0;
	}
		.pg-evento .secao-eventos-relacionados .titulo{
			text-align: center;
			padding: 0 0 75px;
		}
		.pg-evento .secao-eventos-relacionados .lista-eventos{

		}
			.pg-evento .secao-eventos-relacionados .lista-eventos li{

			}
				.pg-evento .secao-eventos-relacionados .lista-eventos li .link-imagem{

				}
					.pg-evento .secao-eventos-relacionados .lista-eventos li .link-imagem figure{

					}
						.pg-evento .secao-eventos-relacionados .lista-eventos li .link-imagem figure img{

						}
				.pg-evento .secao-eventos-relacionados .lista-eventos li .data-evento{

				}
				.pg-evento .secao-eventos-relacionados .lista-eventos li .link-titulo{

				}
					.pg-evento .secao-eventos-relacionados .lista-eventos li .link-titulo .titulo{
						text-align: left;
						padding: 0;
					}
	.pg-evento .pop-up-galeria-eventos{
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: fixed;
		width: 100%;
		text-align: center;
		z-index: 9999;
		height: 100vh;
		display: none;
		background-color: rgba(0, 0, 0, 0.6);
	}
		.pg-evento .pop-up-galeria-eventos span{
			position: absolute;
			right: 40px;
			top: 40px;
			font-size: 42px;
			font-weight: 100;
			z-index: 9999;
			cursor: pointer;
		}
			.pg-evento .pop-up-galeria-eventos span img{
				width: 26px;
			}
		.pg-evento .pop-up-galeria-eventos .carrossel-galeria-eventos{
			height: 100%;
		}
			.pg-evento .pop-up-galeria-eventos .carrossel-galeria-eventos li{
				width: 100%;
				height: 100vh;
				max-height: 100vh;
				max-width: 90%;
			}
				.pg-evento .pop-up-galeria-eventos .carrossel-galeria-eventos li figure{
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
					height: 100%;
					overflow: hidden;
				}
					.pg-evento .pop-up-galeria-eventos .carrossel-galeria-eventos li figure img{
						display: block;
						width: 100%;
						max-width: 100%;
						margin: auto;
					}
		.pg-evento .pop-up-galeria-eventos .carrossel-galeria-eventos .owl-nav{}
			.pg-evento .pop-up-galeria-eventos .carrossel-galeria-eventos .owl-nav button{
				position: absolute;
				top: 50%;
				width: 30px;
				height: 30px;
				background-color: #000;
				width: 54px;
				height: 189px;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);
				outline: none;
			}
				.pg-evento .pop-up-galeria-eventos .carrossel-galeria-eventos .owl-nav button span{
					position: unset;
					font-size: 122px;
					right: unset;
					top: unset;
					line-height: 23px;
					display: block;
					width: fit-content;
					height: 40px;
					margin: 0 auto;
					color: #fff;
				}
			.pg-evento .pop-up-galeria-eventos .carrossel-galeria-eventos .owl-nav .owl-prev{
				left: 0;
			}
				.pg-evento .pop-up-galeria-eventos .carrossel-galeria-eventos .owl-nav .owl-prev span{}
			.pg-evento .pop-up-galeria-eventos .carrossel-galeria-eventos .owl-nav .owl-next{
				right: 0;
			}
				.pg-evento .pop-up-galeria-eventos .carrossel-galeria-eventos .owl-nav .owl-next span{}
/* SINGLE DE EVENTO */


/* MEDIA QUERY */
@media(max-width: 1200px){}

@media(max-width: 991px){
	.pg-eventos .secao-eventos {
		padding: 70px 0 20px;
	}
	.pg-evento .secao-conteudo-evento .voltar {
		margin: 0;
	}
}

@media(max-width: 800px){
	.pg-eventos .secao-eventos {
		padding: 50px 0 10px;
	}
}

@media(max-width: 768px){
	.pg-evento .secao-conteudo-evento article {
		margin: 25px auto 0;
	}
	.pg-evento .secao-conteudo-evento .voltar {
		margin: 30px 0 0;
		float: unset;
	}
	.pg-evento .secao-conteudo-evento {
		padding: 0 0 40px;
	}
	.pg-evento .secao-eventos-relacionados {
		padding: 45px 0 60px;
	}
	.pg-evento .secao-eventos-relacionados .titulo {
		padding: 0 0 45px;
	}
	.pg-evento .pop-up-galeria-eventos .carrossel-galeria-eventos .owl-nav button span {
        font-size: 74px;
        height: 32px;
    }
    .pg-evento .pop-up-galeria-eventos .carrossel-galeria-eventos .owl-nav button {
        width: 35px;
        height: 140px;
    }
}

@media(max-width: 500px){
	.pg-evento .secao-conteudo-evento article .data-evento {
		margin: 15px 0 30px;
		text-align: left;
	}
	.pg-evento .secao-conteudo-evento article .titulo {
		text-align: left;
	}
	.pg-evento .secao-conteudo-evento .voltar{
		margin: 30px 30px 0;
	}
	.pg-evento .secao-conteudo-evento .small-container{
		padding: 0;
	}
	.pg-evento .secao-conteudo-evento article .titulo,
	.pg-evento .secao-conteudo-evento article .data-evento,
	.pg-evento .secao-conteudo-evento article p,
	.pg-evento .secao-conteudo-evento article h2,
	.pg-evento .secao-conteudo-evento article h3,
	.pg-evento .secao-conteudo-evento article h4,
	.pg-evento .secao-conteudo-evento article ul,
	.pg-evento .secao-conteudo-evento article ol{
		padding: 0 30px;
	}
	.pg-evento .secao-destaque-single {
		height: 190px;
	}
	.pg-evento .secao-eventos-relacionados .titulo {
		text-align: left;
	}
    .pg-evento .secao-conteudo-evento article .gallery .gallery-item {
		padding: 0 2% 20px;
	}
	.pg-evento .pop-up-galeria-eventos .carrossel-galeria-eventos .owl-nav button span {
        font-size: 58px;
        height: 29px;
    }
    .pg-evento .pop-up-galeria-eventos .carrossel-galeria-eventos .owl-nav button {
        width: 24px;
        height: 98px;
    }
}

@media(max-width: 400px){
    .pg-evento .secao-conteudo-evento article .gallery .gallery-item {
		max-width: 50%;
		padding: 0 3% 20px;
	}
}