/* 
**
*** PÁGINA DE PROJETOS
*** SINGLE DE PROJETO
**
*/

/* PÁGINA DE PROJETOS */
.pg-projetos{}
	.pg-projetos .menu-filtro{
		padding: 27px 0;
	}
		.pg-projetos .menu-filtro form{
			font-size: 0;
		}
			.pg-projetos .menu-filtro form input, .pg-projetos .menu-filtro form .div-input-enviar{
				display: inline-block;
				font-size: 14px;
				width: 100%;
				vertical-align: middle;
			}
			.pg-projetos .menu-filtro form input{
				outline: none;
				padding: 0 6px 10px 6px;
				border: none;
				border-bottom: 1px solid #000;
				background-color: transparent;
			}
			.pg-projetos .menu-filtro form input[type="text"]{
				max-width: 93%;
				font-family: var(--roboto);
			}
			.pg-projetos .menu-filtro form .div-input-enviar{
				max-width: 7%;
			}
				.pg-projetos .menu-filtro form .div-input-enviar input{
					background-image: url(../img/search.svg);
					background-repeat: no-repeat;
					background-position: top, center;
					background-size: 20px;
				}
		.pg-projetos .menu-filtro .filtros{
			text-align: right;
			padding: 3px 0;
		}
			/*.pg-projetos .menu-filtro .filtros select, .pg-projetos .menu-filtro .filtros .modelo{

			}
			.pg-projetos .menu-filtro .filtros select{
				font-family: var(--roboto);
				font-size: 11px;
				font-weight: 500;
				letter-spacing: 3px;
				color: #000;
				text-transform: uppercase;
				border: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				-ms-appearance: none;
				-o-appearance: none;
				outline: none;
				text-align: left;
				background-image: url(../img/chevron_down_black@1,5x.svg);
				background-repeat: no-repeat;
				background-position: right, center;
				background-size: 12px;
				padding-right: 38px;
			}*/
			.pg-projetos .menu-filtro .filtros .filtro-categoria{
				display: inline-block;
				position: relative;
				width: 100%;
				max-width: 286px;
				text-align: right;
			}
			.pg-projetos .menu-filtro .filtros .filtro-categoria::before{
				content: '';
				position: absolute;
				display: block;
				top: 16px;
				right: 33px;
				width: 28px;
				height: 30px;
				border-top: 15px solid transparent;
				border-bottom: 15px solid #fff;
				border-left: 13px solid transparent;
				border-right: 13px solid transparent;
				z-index: 4;
				opacity: 0;
			}
			.pg-projetos .menu-filtro .filtros .filtro-categoria.show-before::before{
				opacity: 1;
			}
				.pg-projetos .menu-filtro .filtros .filtro-categoria .filtro-categoria-atual{
					font-family: var(--roboto);
					font-size: 12px;
					font-weight: 500;
					letter-spacing: 3px;
					color: #000;
					text-transform: uppercase;
					padding-right: 48px;
					cursor: pointer;
					position: relative;
				}
				.pg-projetos .menu-filtro .filtros .filtro-categoria .filtro-categoria-atual::before{
					content: '';
					position: absolute;
					top: 50%;
					right: 0;
					display: block;
					width: 14px;
					height: 7.5px;
					background-image: url(../img/chevron_down_black@1,5x.svg);
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;
					-webkit-transform: translateY(-50%);
					-moz-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					-o-transform: translateY(-50%);
					transform: translateY(-50%);
				}
				.pg-projetos .menu-filtro .filtros .filtro-categoria .filtro-categoria-opcoes{
					text-align: left;
					position: absolute;
					background-color: #fff;
					z-index: 3;
					right: 0;
					top: 46px;
					-webkit-box-shadow: 0 2px 39px 0 rgba(66,66,66,0.25);
					-moz-box-shadow: 0 2px 39px 0 rgba(66,66,66,0.25);
					-ms-box-shadow: 0 2px 39px 0 rgba(66,66,66,0.25);
					-o-box-shadow: 0 2px 39px 0 rgba(66,66,66,0.25);
					box-shadow: 0 2px 39px 0 rgba(66,66,66,0.25);
					width: 100%;
					max-width: 280px;
					height: 0;
					padding: 0;
					overflow: hidden;
					transition: ease-in-out 0.2s;
					-webkit-transition: ease-in-out .2s;
					-moz-transition: ease-in-out .2s;
					-ms-transition: ease-in-out .2s;
					-o-transition: ease-in-out .2s;
					transition: ease-in-out .2s;
				}
				.pg-projetos .menu-filtro .filtros .filtro-categoria .filtro-categoria-opcoes.show-options{
					height: 462px; 
					padding: 20px 0;
				}
					.pg-projetos .menu-filtro .filtros .filtro-categoria .filtro-categoria-opcoes .filtro-categoria-opcao{
						display: block;
					}
						.pg-projetos .menu-filtro .filtros .filtro-categoria .filtro-categoria-opcoes .filtro-categoria-opcao a{
							display: block;
							padding: 15px 30px 0 30px;
							color: #000;
							-webkit-transition: ease-in-out .1s;
							-moz-transition: ease-in-out .1s;
							-ms-transition: ease-in-out .1s;
							-o-transition: ease-in-out .1s;
							transition: ease-in-out .1s;
							position: relative;
						}
						.pg-projetos .menu-filtro .filtros .filtro-categoria .filtro-categoria-opcoes .filtro-categoria-opcao a:hover{
							background-color: #000;
							color: #fff;
						}
						.pg-projetos .menu-filtro .filtros .filtro-categoria .filtro-categoria-opcoes .filtro-categoria-opcao a::before{
							content: '';
							position: absolute;
							top: 50%;
							right: 30px;
							display: block;
							width: 15px;
							height: 15px;
							background-color: #fff;
							border-radius: 2px;
							opacity: 0;
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
							-o-transform: translateY(-50%);
							transform: translateY(-50%);
						}
						.pg-projetos .menu-filtro .filtros .filtro-categoria .filtro-categoria-opcoes .filtro-categoria-opcao a:hover::before{
							opacity: 1;
						}
						.pg-projetos .menu-filtro .filtros .filtro-categoria .filtro-categoria-opcoes .filtro-categoria-opcao.catAtivo a::before{
							background-color: transparent;
							background-repeat: no-repeat;
							background-position: center;
							background-size: cover;
							background-image: url('../img/check@1,5x.svg');
							width: 20px;
							height: 12px;
							opacity: 1;
						}
						.pg-projetos .menu-filtro .filtros .filtro-categoria .filtro-categoria-opcoes .filtro-categoria-opcao:last-child p{
							border: none;
						}
						.pg-projetos .menu-filtro .filtros .filtro-categoria .filtro-categoria-opcoes .filtro-categoria-opcao p{
							font-family: var(--roboto);
							font-size: var(--font-size-texto);
							line-height: 16px;
							border-bottom: 1px solid rgba(216, 216, 216, 0.3);
							padding: 0 0 15px;
						}
			.pg-projetos .menu-filtro .filtros .modelo{
				margin-left: 44px;
			}
				.pg-projetos .menu-filtro .filtros .modelo img{
					width: 100%;
					cursor: pointer;
					opacity: .5;
				}
				.pg-projetos .menu-filtro .filtros .modelo img.modelo-active{
					opacity: 1;
				}
				.pg-projetos .menu-filtro .filtros .modelo img.list{
					max-width: 19px;
				}
				.pg-projetos .menu-filtro .filtros .modelo img.grid{
					max-width: 18px;
				}
	.pg-projetos .secao-projetos{
		padding: 50px 0 150px;
		background-color: var(--cinza-fundo);
	}
		.pg-projetos .secao-projetos .lista-projetos{}
			.pg-projetos .secao-projetos .lista-projetos li{
				margin: 0 0 25px;
				display: block;
				width: 100%;
				-webkit-transition: ease-in-out .1s;
				-moz-transition: ease-in-out .1s;
				-ms-transition: ease-in-out .1s;
				-o-transition: ease-in-out .1s;
				transition: ease-in-out .1s;
			}
			.pg-projetos .secao-projetos .lista-projetos li:hover{
				-webkit-box-shadow: 0 37px 87px 0 rgba(0,0,0,0.14);
				-moz-box-shadow: 0 37px 87px 0 rgba(0,0,0,0.14);
				-ms-box-shadow: 0 37px 87px 0 rgba(0,0,0,0.14);
				-o-box-shadow: 0 37px 87px 0 rgba(0,0,0,0.14);
			}
				.pg-projetos .secao-projetos .lista-projetos li .link-imagem-projeto{}
					.pg-projetos .secao-projetos .lista-projetos li .link-imagem-projeto figure{
						background-repeat: no-repeat;
						background-size: cover;
						background-position: center;
						height: 200px;
					}
						.pg-projetos .secao-projetos .lista-projetos li .link-imagem-projeto figure img{
							width: 100%;
							max-width: 100%;
							display: none;
						}
					.pg-projetos .secao-projetos .lista-projetos li .link-imagem-projeto .nome-projeto{
						display: none;
					}
				.pg-projetos .secao-projetos .lista-projetos li .sobre-projeto{
					padding: 55px 56px;
					border: 1px solid rgba(151, 151, 151, 0.5);
					-webkit-transition: ease-in-out .1s;
					-moz-transition: ease-in-out .1s;
					-ms-transition: ease-in-out .1s;
					-o-transition: ease-in-out .1s;
					transition: ease-in-out .1s;
				}
				.pg-projetos .secao-projetos .lista-projetos li:hover .sobre-projeto{
					border-color: #fff;
					background-color: #fff;
				}
					.pg-projetos .secao-projetos .lista-projetos li .sobre-projeto .nome-projeto, .pg-projetos .secao-projetos .lista-projetos li .sobre-projeto .info-projeto{
						display: inline-block;
						width: 100%;
						max-width: 49%;
						vertical-align: top;
					}
					.pg-projetos .secao-projetos .lista-projetos li .sobre-projeto .nome-projeto{
						padding-right: 2%;
					}
						.pg-projetos .secao-projetos .lista-projetos li .sobre-projeto .nome-projeto .titulo{
							font-size: 18px;
							line-height: 26px;
							text-transform: capitalize;
						}
						.pg-projetos .secao-projetos .lista-projetos li .sobre-projeto .nome-projeto img{
							width: 100%;
							max-width: 16px;
							margin: 12px 0 0;
							opacity: 0;
							-webkit-transition: ease-in-out .1s;
							-moz-transition: ease-in-out .1s;
							-ms-transition: ease-in-out .1s;
							-o-transition: ease-in-out .1s;
							transition: ease-in-out .1s;
						}
						.pg-projetos .secao-projetos .lista-projetos li:hover .sobre-projeto .nome-projeto img{
							opacity: 1;
						}
					.pg-projetos .secao-projetos .lista-projetos li .sobre-projeto .info-projeto{
						min-height: 88px;
					}
						.pg-projetos .secao-projetos .lista-projetos li .sobre-projeto .info-projeto li{
							display: block;
							font-family: var(--roboto);
							font-size: 11px;
							font-weight: 500;
							letter-spacing: 3px;
							color: #000;
							margin: 0 0 20px;
							text-transform: uppercase;
							padding-left: 35px;
							position: relative;
						}
						.pg-projetos .secao-projetos .lista-projetos li .sobre-projeto .info-projeto li:last-child{
							margin: 0;
						}
						.pg-projetos .secao-projetos .lista-projetos li .sobre-projeto .info-projeto li::before{
							content: '';
							position: absolute;
							top: 50%;
							left: 0;
							width: 20px;
							height: 12px;
							display: block;
							background-image: url(../img/checkb.svg);
							background-repeat: no-repeat;
							background-position: center;
							background-size: cover;
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
							-o-transform: translateY(-50%);
							transform: translateY(-50%);
						}
							.pg-projetos .secao-projetos .lista-projetos li .sobre-projeto .info-projeto li a{
								color: #000;
							}
		.pg-projetos .secao-projetos .grid-projetos{
			font-size: 0;
		}
			.pg-projetos .secao-projetos .grid-projetos li{
				margin: 0 0 25px;
				width: 100%;
				display: inline-block;
				max-width: 31.7%;
				box-shadow: none !important;
			}
			.pg-projetos .secao-projetos .grid-projetos li.evento-centro{
				margin: 0 2.4% 25px;
			}
			.pg-projetos .secao-projetos .grid-projetos li .col-8{
				display: none;
			}
				.pg-projetos .secao-projetos .grid-projetos li .link-imagem-projeto{
					position: relative;
					display: block;
				}
					.pg-projetos .secao-projetos .grid-projetos li .link-imagem-projeto figure{}
						.pg-projetos .secao-projetos .grid-projetos li .link-imagem-projeto figure img{
							width: 100%;
							max-width: 100%;
						}
					.pg-projetos .secao-projetos .grid-projetos li .link-imagem-projeto .nome-projeto{
						display: block;
						opacity: 0;
						position: absolute;
						top: 50%;
						left: 50%;
						-webkit-transform: translate(-50%, -50%);
						-moz-transform: translate(-50%, -50%);
						-ms-transform: translate(-50%, -50%);
						-o-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
						width: 101%;
						height: 101%;
						text-align: center;
						background-color: #fff;
						padding: 55px 10px;
						-webkit-box-shadow: 0 37px 87px 0 rgba(0,0,0,0.14);
						-moz-box-shadow: 0 37px 87px 0 rgba(0,0,0,0.14);
						-ms-box-shadow: 0 37px 87px 0 rgba(0,0,0,0.14);
						-o-box-shadow: 0 37px 87px 0 rgba(0,0,0,0.14);
						-webkit-transition: ease-in-out .1s;
						-moz-transition: ease-in-out .1s;
						-ms-transition: ease-in-out .1s;
						-o-transition: ease-in-out .1s;
						transition: ease-in-out .1s;
					}
					.pg-projetos .secao-projetos .grid-projetos li:hover .link-imagem-projeto .nome-projeto{
						opacity: 1;
					}
						.pg-projetos .secao-projetos .grid-projetos li .link-imagem-projeto .nome-projeto .titulo{
							font-size: var(--font-size-texto);
							line-height: 20px;
							text-transform: unset;
							margin: 0 0 20px;
						}
						.pg-projetos .secao-projetos .grid-projetos li .link-imagem-projeto .nome-projeto img{
							width: 100%;
							max-width: 20px;
						}
				.pg-projetos .secao-projetos .grid-projetos li .sobre-projeto{
					padding: 55px 56px;
					border: 1px solid rgba(151, 151, 151, 0.5);
				}
					.pg-projetos .secao-projetos .grid-projetos li .sobre-projeto .nome-projeto, .pg-projetos .secao-projetos .grid-projetos li .sobre-projeto .info-projeto{
						display: inline-block;
						width: 100%;
						max-width: 49%;
						vertical-align: top;
					}
					.pg-projetos .secao-projetos .grid-projetos li .sobre-projeto .nome-projeto{
						padding-right: 2%;
					}
						.pg-projetos .secao-projetos .grid-projetos li .sobre-projeto .nome-projeto .titulo{
							font-size: 18px;
							line-height: 26px;
							text-transform: capitalize;
						}
					.pg-projetos .secao-projetos .grid-projetos li .sobre-projeto .info-projeto{}
						.pg-projetos .secao-projetos .grid-projetos li .sobre-projeto .info-projeto li{
							display: block;
							font-family: var(--roboto);
							font-size: 11px;
							font-weight: 500;
							letter-spacing: 3px;
							color: #000;
							margin: 0 0 20px;
							text-transform: uppercase;
							padding-left: 35px;
							position: relative;
						}
						.pg-projetos .secao-projetos .grid-projetos li .sobre-projeto .info-projeto li:last-child{
							margin: 0;
						}
						.pg-projetos .secao-projetos .grid-projetos li .sobre-projeto .info-projeto li::before{
							content: '';
							position: absolute;
							top: 50%;
							left: 0;
							width: 20px;
							height: 12px;
							display: block;
							background-image: url(../img/checkb.svg);
							background-repeat: no-repeat;
							background-position: center;
							background-size: cover;
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
							-o-transform: translateY(-50%);
							transform: translateY(-50%);
						}
/* PÁGINA DE PROJETOS */


/* SINGLE DE PROJETO */
.pg-projeto{}
	.pg-projeto .secao-destaque-single{
		background-image: url(../img/projetos_carrossel_img.png);
		height: 340px;
	}
	.pg-projeto .secao-sobre-projeto{
		background-color: var(--cinza-fundo);
	}
		.pg-projeto .secao-sobre-projeto .voltar{
			display: inline-block;
			float: left;
			margin: 0;
			width: 100%;
			max-width: 28px;
		}
			.pg-projeto .secao-sobre-projeto .voltar img{
				width: 100%;
				max-width: 28px;
			}
		.pg-projeto .secao-sobre-projeto article{
			margin: 0 !important;
		}
			.pg-projeto .secao-sobre-projeto article .titulo{}
			.pg-projeto .secao-sobre-projeto article .sobre-projeto{}
				.pg-projeto .secao-sobre-projeto article .sobre-projeto .subtitulo{}
				.pg-projeto .secao-sobre-projeto article .sobre-projeto p{
					margin: 20px 0 0 !important;
				}
				.pg-projeto .secao-sobre-projeto article .sobre-projeto .div-button-padrao{}
					.pg-projeto .secao-sobre-projeto article .sobre-projeto .div-button-padrao .button-padrao{}
			.pg-projeto .secao-sobre-projeto article ul{}
				.pg-projeto .secao-sobre-projeto article ul li{}
	.pg-projeto .secao-galeria-projeto{
		background-color: var(--cinza-fundo);
		padding: 0 0 64px;
	}
		.pg-projeto .secao-galeria-projeto .lista-fotos{
			font-size: 0;
		    overflow: hidden;
		}
			.pg-projeto .secao-galeria-projeto .lista-fotos li{
				display: inline-block;
				width: 100%;
				max-width: 31.7%;
				margin-bottom: 30px;
				vertical-align: top;
			}
			.pg-projeto .secao-galeria-projeto .lista-fotos:nth-child(1) li:nth-child(4),
			.pg-projeto .secao-galeria-projeto .lista-fotos:nth-child(2) li:nth-child(5),
			.pg-projeto .secao-galeria-projeto .lista-fotos:nth-child(3) li:nth-child(4),
			.pg-projeto .secao-galeria-projeto .lista-fotos li:nth-child(6){
				max-width: 31.3%;
			}
			.pg-projeto .secao-galeria-projeto .lista-fotos li.large-image{
				max-width: 66.29%;
				/*height: 380px;*/
				overflow: hidden;
			}
			.pg-projeto .secao-galeria-projeto .lista-fotos li.large-image-left{
				margin-right: 2.4%;
			    float: left;
			}
			.pg-projeto .secao-galeria-projeto .lista-fotos li.large-image-right{
				margin-left: 2.4%;
			    float: right;
			}
				.pg-projeto .secao-galeria-projeto .lista-fotos li figure{
					position: relative;
				}
					.pg-projeto .secao-galeria-projeto .lista-fotos li figure img{
						width: 100%;
						max-width: 100%;
					}
					.pg-projeto .secao-galeria-projeto .lista-fotos li figure img.imagem-video{
						width: 100%;
						max-width: 100%;
						/*height: 250px;*/
						outline: none;
						pointer-events: none;
					}
					.pg-projeto .secao-galeria-projeto .lista-fotos li.large-image figure img.imagem-video{
					    /*height: 530.17px;*/
					}
					.pg-projeto .secao-galeria-projeto .lista-fotos li figure span.play-button{
						position: absolute;
						top: 50%;
						left: 50%;
						display: block;
						width: 110px;
						height: 110px;
						-webkit-transform: translate(-50%, -50%);
						-moz-transform: translate(-50%, -50%);
						-ms-transform: translate(-50%, -50%);
						-o-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
						cursor: pointer;
					}
						.pg-projeto .secao-galeria-projeto .lista-fotos li figure span.play-button img{
							width: 100%;
							display: block;
						}
	.pg-projeto .anuncio{
		background-color: var(--cinza-fundo);
		margin: 0 !important;
		padding: 50px 0;
	}
	.pg-projeto .proximos-projetos{
		/*position: relative;*/
	}
	/*.pg-projeto .proximos-projetos::before, .pg-projeto .proximos-projetos::after{
		content: '';
		position: absolute;
		top: 50%;
		width: 50%;
		height: 100%;
		display: block;
		background-color: #161616;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		-webkit-transition: ease-in-out .1s;
		-moz-transition: ease-in-out .1s;
		-ms-transition: ease-in-out .1s;
		-o-transition: ease-in-out .1s;
		transition: ease-in-out .1s;
	}
	.pg-projeto .proximos-projetos::before{
		left: 0;
	}
	.pg-projeto .proximos-projetos::after{
		right: 0;
	}*/
		.pg-projeto .proximos-projetos .paginador{
			font-size: 0;
			position: relative;
			width: 100%;
			max-width: 1520px;
			margin: 0 auto;
			display: block;
		}
		.pg-projeto .proximos-projetos .paginador::before{
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			display: block;
			width: 1px;
			height: 100%;
			background-color: var(--cinza-fundo);
			-webkit-transform: translateX(-50%);
			-moz-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			-o-transform: translateX(-50%);
			transform: translateX(-50%);
		}
			.pg-projeto .proximos-projetos .paginador li{
				display: inline-block;
				width: 100%;
				max-width: 50%;
				padding-right: 0;
				padding-left: 30px;
				-webkit-transition: ease-in-out .1s;
				-moz-transition: ease-in-out .1s;
				-ms-transition: ease-in-out .1s;
				-o-transition: ease-in-out .1s;
				transition: ease-in-out .1s;
			}
			.pg-projeto .proximos-projetos .paginador li:hover{
				background-color: #161616;
				color: #fff;
			}
			.pg-projeto .proximos-projetos .paginador li.arrow-right{
				text-align: right;
				padding-right: 30px;
				padding-left: 0;
			}
				.pg-projeto .proximos-projetos .paginador li a{
					display: block;
					padding: 45px 0;
				}
					.pg-projeto .proximos-projetos .paginador li a .seta-paginador, .pg-projeto .proximos-projetos .paginador li a figure, .pg-projeto .proximos-projetos .paginador li a .nome-projeto{
						display: inline-block;
						width: 100%;
						max-width: fit-content;
						vertical-align: middle;
					}
					.pg-projeto .proximos-projetos .paginador li a .seta-paginador{
						position: relative;
						height: 20px;
					}
						.pg-projeto .proximos-projetos .paginador li a .seta-paginador img{
							width: 22px;
							position: absolute;
							top: 0;
							left: 0;
							-webkit-transition: ease-in-out .1s;
							-moz-transition: ease-in-out .1s;
							-ms-transition: ease-in-out .1s;
							-o-transition: ease-in-out .1s;
							transition: ease-in-out .1s;
						}
						.pg-projeto .proximos-projetos .paginador li.arrow-right a .seta-paginador img{
							left: unset;
							right: 0;
						}
						.pg-projeto .proximos-projetos .paginador li a .seta-paginador img.black-arrow, .pg-projeto .proximos-projetos .paginador li:hover a .seta-paginador img.white-arrow{
							opacity: 1;
						}
						.pg-projeto .proximos-projetos .paginador li a .seta-paginador img.white-arrow, .pg-projeto .proximos-projetos .paginador li:hover a .seta-paginador img.black-arrow{
							opacity: 0;
						}
					.pg-projeto .proximos-projetos .paginador li a figure{
						height: 90px;
						overflow: hidden;
						max-width: 170px;
						margin: 0 35px 0 57px;
					}
					.pg-projeto .proximos-projetos .paginador li.arrow-right a figure{
						margin: 0 57px 0 35px;
					}
						.pg-projeto .proximos-projetos .paginador li a figure img{
							width: auto;
							height: 100%;
						}
					.pg-projeto .proximos-projetos .paginador li a .nome-projeto{}
						.pg-projeto .proximos-projetos .paginador li a .nome-projeto .titulo{
							font-size: var(--font-size-texto);
							line-height: 20px;
							text-transform: unset;
							-webkit-transition: ease-in-out .1s;
							-moz-transition: ease-in-out .1s;
							-ms-transition: ease-in-out .1s;
							-o-transition: ease-in-out .1s;
							transition: ease-in-out .1s;
							max-width: 220px;
						}
						.pg-projeto .proximos-projetos .paginador li:hover a .nome-projeto .titulo{
							color: #fff;
						}
.pop-up-galeria-projeto{
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: fixed;
		width: 100%;
		text-align: center;
		z-index: 9999;
		height: 100vh;
		display: none;
	}
	.pop-up-galeria-projeto>span{
		position: absolute;
		right: 40px;
		top: 40px;
		font-size: 42px;
		font-weight: 100;
		z-index: 9999;
		cursor: pointer;
	}
		.pop-up-galeria-projeto>span img{
			width: 36px;
		}
	.pop-up-galeria-projeto .owl-nav{
		/*top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: fixed;
		z-index: 999999;
		width: 100%;*/
	}
		.pop-up-galeria-projeto .owl-nav button{
			outline: none;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);

		}
		.pop-up-galeria-projeto .owl-nav button.owl-prev{
			float: left;
			background: #000;
			color: #fff;
			font-size: 101px;
			width: 54px;
			height: 189px;
			font-weight: 100;
		    left: 0;
		}
		.pop-up-galeria-projeto .owl-nav button.owl-next{
			float: right;
			background: #000;
			color: #fff;
			font-size: 101px;
			width: 54px;
			height: 189px;
			font-weight: 100;
			right: 0;
		}
	.pop-up-galeria-projeto .owl-dots{
		display: none;
	}
		.pop-up-galeria-projeto .carrossel-projetos-galeria{
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			position: fixed;
		}
			.pop-up-galeria-projeto .carrossel-projetos-galeria figcaption{
				display: none;
			}
			.pop-up-galeria-projeto .carrossel-projetos-galeria .item-projetos{
				width: 100%;
				max-height: 100vh;
				max-width: 90%;
			}
				.pop-up-galeria-projeto .carrossel-projetos-galeria .item-projetos figure{
					display: block;
					width: 100%;
					height: 100%;
				}
					.pop-up-galeria-projeto .carrossel-projetos-galeria .item-projetos figure img{
						display: block;
						width: auto;
						max-width: 100%;
						margin: auto;
						max-height: 100vh;
					}
					.pop-up-galeria-projeto .carrossel-projetos-galeria .item-projetos figure iframe{
						display: block;
						width: 100%;
						margin: auto;
						height: 100vh;
						outline: none;
					}
					body.pop-up-galeria-projeto-sombra:before{
						content: "";
						width: 100%;
						height: 100%;
						position: fixed;
						top: 0;
						left: 0;
						background: rgba(0, 0, 0, 0.45);
						z-index: 9;
					}
					body.pop-up-galeria-projeto-sombra{
						overflow: hidden;
					}
/* SINGLE DE PROJETO */


/* MEDIA QUERY */
@media(max-width: 1350px){
	.pg-projeto .proximos-projetos .paginador li a figure {
		height: 70px;
		max-width: 120px;
		margin: 0 15px 0 37px;
	}
	.pg-projeto .proximos-projetos .paginador li.arrow-right a figure {
		margin: 0 37px 0 15px;
	}
}

@media(max-width: 1200px){
	.pg-projetos .secao-projetos .lista-projetos li .sobre-projeto .nome-projeto .titulo {
		height: 78px;
	}
	.pg-projetos .secao-projetos .lista-projetos li .sobre-projeto {
		padding: 46px 56px;
	}
	/*.pg-projeto .secao-galeria-projeto .lista-fotos li.large-image, */
	.pg-projeto .secao-galeria-projeto .lista-fotos li figure video {
		height: 320px;
	}
}

@media(max-width: 1174px){
	.pg-projeto .proximos-projetos .paginador li.arrow-right {
		padding-right: 80px;
	}
	.pg-projeto .proximos-projetos .paginador li {
		padding-left: 80px;
	}
}

@media(max-width: 991px){
	.pg-projetos .secao-projetos .lista-projetos li .sobre-projeto {
		padding: 33px 38px;
	}
	.pg-projetos .secao-projetos .lista-projetos li .sobre-projeto .nome-projeto .titulo {
		height: 104px;
	}
	.pg-projetos .secao-projetos {
		padding: 50px 0 30px;
	}
	/*.pg-projeto .secao-galeria-projeto .lista-fotos li.large-image, */
	.pg-projeto .secao-galeria-projeto .lista-fotos li figure video {
		height: 294px;
	}
	.pg-projeto .proximos-projetos .paginador li.arrow-right {
		padding-right: 30px;
	}
	.pg-projeto .proximos-projetos .paginador li {
		padding-left: 30px;
	}
	.pg-projeto .secao-galeria-projeto {
		padding: 0px 0 15px;
	}
	.pop-up-galeria-projeto .carrossel-projetos-galeria .item-projetos figure iframe{
		height: 570px;
	}
}

@media(max-width: 920px){
	.pg-projetos .secao-projetos .grid-projetos li .link-imagem-projeto figure {
		height: 143px;
	}
	.pg-projetos .secao-projetos .grid-projetos li .link-imagem-projeto .nome-projeto {
		padding: 30px 10px;
	}
	.pg-projetos .menu-filtro .filtros .modelo img.grid {
		max-width: 16px;
	}
	.pg-projetos .menu-filtro .filtros .modelo img.list {
		max-width: 18px;
	}
	.pg-projetos .menu-filtro .filtros .modelo {
		margin-left: 18px;
	}
}

@media(max-width: 890px){
	/*.pg-projeto .secao-galeria-projeto .lista-fotos li.large-image, */
	.pg-projeto .secao-galeria-projeto .lista-fotos li figure video {
		height: 263px;
	}
}

@media(max-width: 844px){
	.pg-projeto .proximos-projetos .paginador li a figure {
		height: 52px;
		max-width: 95px;
	}
	.pg-projeto .proximos-projetos .paginador li a .nome-projeto .titulo {
		max-width: 180px;
	}
}

@media(max-width: 790px){
	.pg-projetos .menu-filtro .filtros .modelo {
		margin-left: 12px;
	}
	.pg-projetos .menu-filtro .filtros .filtro-categoria .filtro-categoria-atual {
		padding-right: 38px;
	}
	.pg-projetos .menu-filtro .filtros .filtro-categoria {
		max-width: 235px;
	}
}

@media(max-width: 768px){
	.pg-projetos .menu-filtro .filtros {
		text-align: center;
		margin: 12px 0 0;
	}
	.pg-projetos .menu-filtro {
		padding: 15px 0;
	}
	/*.pg-projeto .secao-galeria-projeto .lista-fotos li.large-image, */
	.pg-projeto .secao-galeria-projeto .lista-fotos li figure video {
		height: 222px;
	}
	.pg-projeto .proximos-projetos .paginador li a .nome-projeto {
		margin-left: 8%;
		max-width: 81%;
	}
	.pg-projeto .proximos-projetos .paginador li.arrow-right a .nome-projeto {
		margin-left: 0;
		margin-right: 8%;
	}
	.pg-projeto .proximos-projetos .paginador li a .nome-projeto .titulo {
		max-width: 100%;
	}
	.pg-projeto .proximos-projetos .paginador li a figure {
		display: none;
	}
	.pg-projeto .proximos-projetos .paginador li a .seta-paginador {
		height: 20px;
		max-width: 11%;
		display: inline-block;
	}
	.pg-projeto .secao-destaque-single {
		height: 180px;
	}
	.pop-up-galeria-projeto .carrossel-projetos-galeria .item-projetos figure iframe {
		height: 430px;
	}
}

@media(max-width: 660px){
	/*.pg-projeto .secao-galeria-projeto .lista-fotos li.large-image, */
	.pg-projeto .secao-galeria-projeto .lista-fotos li figure video {
		height: 190px;
	}
}

@media(max-width: 650px){
	.pg-projetos .secao-projetos .grid-projetos li .link-imagem-projeto figure {
		height: 97px;
	}
	.pg-projetos .secao-projetos .grid-projetos li .link-imagem-projeto .nome-projeto {
		padding: 12px 10px;
	}
	.pg-projetos .secao-projetos .grid-projetos li .link-imagem-projeto .nome-projeto .titulo {
		font-size: 12px;
		line-height: 14px;
		margin: 0 0 10px;
	}
	.pg-projetos .secao-projetos .grid-projetos li .link-imagem-projeto .nome-projeto img {
		width: 100%;
		max-width: 13px;
	}
}

@media(max-width: 600px){
	.pg-projetos .secao-projetos .lista-projetos li .sobre-projeto .info-projeto li {
		letter-spacing: 2px;
		margin: 0 0 15px;
	}
	.pg-projetos .secao-projetos .lista-projetos li .sobre-projeto {
		padding: 30px 25px;
	}
	.pg-projetos .secao-projetos .lista-projetos li .link-imagem-projeto figure {
		height: 194px;
	}
	.pg-projetos .secao-projetos .lista-projetos li .sobre-projeto .nome-projeto .titulo {
		font-size: 16px;
		line-height: 22px;
	}
}

@media(max-width: 550px){
	.pg-projeto .secao-galeria-projeto .lista-fotos li {
		margin-bottom: 12px;
	}
	/*.pg-projeto .secao-galeria-projeto .lista-fotos li.large-image, */
	.pg-projeto .secao-galeria-projeto .lista-fotos li figure video {
		height: 155px;
	}
}

@media(max-width: 500px){
	.pg-projetos .secao-projetos .lista-projetos li .sobre-projeto .nome-projeto {
		padding-right: 0;
		max-width: 100%;
	}
	.pg-projetos .secao-projetos .lista-projetos li .sobre-projeto .info-projeto {
		display: none;
	}
	.pg-projetos .secao-projetos .lista-projetos li .link-imagem-projeto figure {
		height: 134px;
	}
	.pg-projetos .secao-projetos .lista-projetos li .sobre-projeto .nome-projeto .titulo {
		font-size: 14px;
		line-height: 20px;
		height: 84px;
	}
	.pg-projetos .secao-projetos .lista-projetos li .sobre-projeto .nome-projeto img {
		max-width: 13px;
	}
	.pg-projetos .secao-projetos .lista-projetos li .sobre-projeto {
		padding: 12px 15px;
	}
	.pg-projetos .secao-projetos .grid-projetos li .col-6{
		display: none;
	}
	.pg-projetos .secao-projetos .grid-projetos li .link-imagem-projeto figure {
		height: 230px;
	}
	.pg-projetos .secao-projetos .grid-projetos li {
		margin: 0 0 25px !important;
		max-width: 100%;
	}
	.pg-projetos .secao-projetos .grid-projetos li .link-imagem-projeto .nome-projeto {
		padding: 25px 10px;
	}
	.pg-projetos .secao-projetos .grid-projetos li .link-imagem-projeto .nome-projeto .titulo {
		font-size: 14px;
		line-height: 20px;
	}
	.pg-projetos .menu-filtro .filtros {
		margin: 0;
	}
	.pg-projetos .menu-filtro form {
		display: none;
	}
	.pg-projetos .menu-filtro .filtros .filtro-categoria .filtro-categoria-atual {
		padding-right: 30px;
		letter-spacing: 2px;
	}
	.pg-projetos .menu-filtro .filtros .modelo {
		margin-left: 3.3%;
		width: 7%;
		display: inline-block;
	}
	.pg-projetos .menu-filtro .filtros {
		margin: 0;
		text-align: right;
	}
	.pg-projetos .menu-filtro .filtros .filtro-categoria {
		max-width: 76%;
		text-align: left;
	}
	.pg-projeto .secao-sobre-projeto{
		padding: 30px 0;
	}
	.pg-projeto .secao-sobre-projeto .voltar {
		float: initial;
	}
	.pg-projeto .secao-sobre-projeto article .titulo{
		margin: 30px auto 30px !important;
	}
	.pg-projeto .secao-galeria-projeto .lista-fotos li {
		max-width: 48%;
		margin: 0 1%;
	}
	.pg-projeto .secao-galeria-projeto .lista-fotos li {
		margin-bottom: 10px !important;
	}
	.pg-projeto .secao-galeria-projeto .lista-fotos li.large-image {
		/*height: 202px;*/
		margin: 0 1%;
		max-width: 97.5%;
		float: unset;
	}
	.pg-projeto .secao-galeria-projeto .lista-fotos li figure video{
		height: 202px;
	}
	.pop-up-galeria-projeto .owl-nav button.owl-prev, .pop-up-galeria-projeto .owl-nav button.owl-next{
		font-size: 82px;
		width: 39px;
	}
	.pg-projeto .secao-destaque-single {
		height: 200px;
		background-position: center !important;
	}
	.pg-projeto .anuncio{
		padding: 0;
	}
	.pg-projeto .secao-galeria-projeto .lista-fotos:nth-child(1) li:nth-child(4), .pg-projeto .secao-galeria-projeto .lista-fotos:nth-child(2) li:nth-child(5), .pg-projeto .secao-galeria-projeto .lista-fotos:nth-child(3) li:nth-child(4), .pg-projeto .secao-galeria-projeto .lista-fotos li:nth-child(6){
		max-width: 47.6%;
	}
	.pg-projeto .secao-galeria-projeto .lista-fotos li figure span.play-button {
	    width: 80px;
	    height: 70px;
	}
	.pg-projeto .secao-galeria-projeto .lista-fotos:nth-child(1) li:nth-child(6),
	.pg-projeto .secao-galeria-projeto .lista-fotos:nth-child(2) li:nth-child(3),
	.pg-projeto .secao-galeria-projeto .lista-fotos:nth-child(3) li:nth-child(6){
		max-width: 97.5%;
	}
	.pop-up-galeria-projeto .carrossel-projetos-galeria .item-projetos figure iframe {
	    height: 280px;
	}
}

@media(max-width: 400px){
	.pg-projetos .secao-projetos .grid-projetos li .link-imagem-projeto figure {
		height: 169px;
	}
	/*.pg-projeto .secao-galeria-projeto .lista-fotos li.large-image, */
	.pg-projeto .secao-galeria-projeto .lista-fotos li figure video {
		height: 163px;
	}
	.pg-projeto .secao-destaque-single {
		height: 180px;
	}
}

@media(max-width: 350px){
	/*.pg-projeto .secao-galeria-projeto .lista-fotos li.large-image, */
	.pg-projeto .secao-galeria-projeto .lista-fotos li figure video {
		height: 145px;
	}
	.pop-up-galeria-projeto .carrossel-projetos-galeria .item-projetos figure iframe {
	    height: 200px;
	}
}

@media(max-width: 325px){
	/*.pg-projeto .secao-galeria-projeto .lista-fotos li.large-image, */
	.pg-projeto .secao-galeria-projeto .lista-fotos li figure video {
		height: 124px;
	}
}