/*
Theme Name: Desenvolvimentos
Theme URI: http://www.desenvolvimentos.com.br
Author: HC Desenvolvimentos
Author URI: https://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: desenvolvimentos
Tags: 

--------------------------------------------
ESTRUTURAÇÃO BASE (HC Desenvolvimentos v1)
--------------------------------------------
**** DECLARAÇÃO DE VARIÁVEIS
**** ESTILOS GERAIS
**** BODY
**** TOPO
**** RODAPÉ
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Michroma', sans-serif;
font-family: 'Roboto', sans-serif;

*/

/* SOBRE */
  @import url("eventos.css");

/* CONTATO */
  @import url("servicos.css");

/* PROJETO */
  @import url("projetos.css");

/* VARIÁVEIS */
:root{
  --michroma: 'Michroma', sans-serif;
  --roboto: 'Roboto', sans-serif;
  --preto-destaque: #1b1b1c;
  --cinza: rgba(0, 0, 0, 0.5);
  --cinza-claro: rgba(255, 255, 255, 0.8);
  --cinza-fundo: #f7f7f7;
  --cinza-escuro: #202828;
  --line-height-titulo-destaque: 46px;
  --line-height-titulo-evento: 28px;
  --line-height-titulo: 43px;
  --line-height-texto: 21px;
  --font-size-titulo-destaque: 37px;
  --font-size-titulo-evento: 20px;
  --font-size-titulo: 30px;
  --font-size-texto: 14px;
}
/* VARIÁVEIS */


/* GERAL */
a:hover{
  text-decoration: none;
}

ul{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
  display: inline-block;
}

p{
  margin: 0;
}

figure{
  margin: 0;
}

.hidden{
  display: none;
}

.full-container{

}
.large-container{
  width: 100%;
  margin: 0 auto;
  display: block;
  max-width: 1200px;
  padding: 0 30px;
}
.mid-container{
  width: 100%;
  max-width: 1036px;
  display: block;
  margin: 0 auto;
  padding: 0 30px;
}
.small-container{
  width: 100%;
  max-width: 1200px;
  display: block;
  margin: 0 auto;
  padding: 0 30px;
}

.titulo{
  font-family: var(--michroma);
  font-size: var(--font-size-titulo);
  line-height: var(--line-height-titulo);
  color: #000;
  text-transform: uppercase;
  margin: 0;
}

.div-button-padrao{

}
  .div-button-padrao .button-padrao{
    font-family: var(--roboto);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    background-color: #fff;
    display: inline-block;
    color: #000;
    padding: 16px 25px;
    cursor: pointer;
    letter-spacing: 2.7px;
  }
  .div-button-padrao .button-padrao.button-padrao-preto{
    background-color: #000;
    color: #fff;
  }

.whatsapp{
  margin: 0;
  text-align: right;
}
  .whatsapp a{
    color: #000;
    font-family: var(--roboto);
    letter-spacing: 3px;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    padding-left: 35px;
  }
  .whatsapp a::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: url('../img/social_whats_app_710253@1,5x.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.evento-centro{
  margin: 0 2.4%;
}

.pg .lista-eventos{
  text-align: center;
  font-size: 0;
}
  .pg .lista-eventos li{
    display: inline-block;
    width: 100%;
    max-width: 31.73%;
    text-align: left;
  }
    .pg .lista-eventos li .link-imagem{

    }
      .pg .lista-eventos li .link-imagem figure{

      }
        .pg .lista-eventos li .link-imagem figure img{
          width: 100%;
          max-width: 510px;
        }
    .pg .lista-eventos li .data-evento, .pg .lista-eventos li .link-titulo{
      display: block;
      padding: 0 25px;
    }
    .pg .lista-eventos li .data-evento{
      font-size: 12px;
      font-weight: 600;
      font-family: var(--roboto);
      color: var(--cinza);
      letter-spacing: 3px;
      text-transform: uppercase;
      margin: 31px 0 22px;
    }
    .pg .lista-eventos li .link-titulo{

    }
      .pg .lista-eventos li .link-titulo .titulo{
        font-family: var(--roboto);
        font-size: 20px;
        line-height: 28px;
        text-transform: none;
      }

.pg .secao-acessoria{
  background-color: var(--cinza-fundo);
  background: -moz-linear-gradient(to right, #000 0, #000 37%, #000 37%, var(--cinza-fundo) 37%, var(--cinza-fundo) 100%);
  background: -webkit-gradient(left top,right top,color-stop(0, #000),color-stop(51%, #000),color-stop(56%, #000),color-stop(57%, var(--cinza-fundo)),color-stop(100%, var(--cinza-fundo)));
  background: -webkit-linear-gradient(to right, #000 0, #000 37%, #000 37%, var(--cinza-fundo) 37%, var(--cinza-fundo) 100%);
  background: -o-linear-gradient(to right, #000 0, #000 37%, #000 37%, var(--cinza-fundo) 37%, var(--cinza-fundo) 100%);
  background: -ms-linear-gradient(to right, #000 0, #000 37%, #000 37%, var(--cinza-fundo) 37%, var(--cinza-fundo) 100%);
  background: linear-gradient(to right, #000 0, #000 37%, #000 37%, var(--cinza-fundo) 37%, var(--cinza-fundo) 100%);
}
  .pg .secao-acessoria article{
    background-color: #000;
    padding: 97px 163px 97px 0px;
  }
    .pg .secao-acessoria article .titulo{
      color: #fff;
    }
    .pg .secao-acessoria article p{
      color: var(--cinza-claro);
      font-family: var(--roboto);
      font-size: var(--font-size-texto);
      line-height: var(--line-height-texto);
      margin: 43px 0;
    }
    .pg .secao-acessoria article form{
      font-size: 0;
      width: 100%;
      max-width: 375px;
    }
      .pg .secao-acessoria article form input, .pg .secao-acessoria article form .div-input-enviar{
        display: inline-block;
        width: 100%;
        font-size: 16px;
        vertical-align: top;
      }
      .pg .secao-acessoria article form input{
        outline: none;
        max-width: 100%;
        border: 1px solid #fff;
        padding: 12px 20px;
        height: 50px;
      }
      .pg .secao-acessoria article form input[type="email"]{
        max-width: 76%;
        font-family: var(--roboto);
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 3px;
      }
      .pg .secao-acessoria article form .div-input-enviar{
        max-width: 24%;
        position: relative;
      }
      .pg .secao-acessoria article form .div-input-enviar::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 33px;
        height: 15px;
        background-image: url('../img/arrow_acesoria_cta_acessoria_white@1,5x.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
        .pg .secao-acessoria article form .div-input-enviar input{
          background-color: transparent;
          position: relative;
        }
  .pg .secao-acessoria figure{
    position: relative;
  }
  .pg .secao-acessoria figure::before{
    content: '';
    position: absolute;
    top: 83px;
    right: 2px;
    width: 720px;
    height: 518px;
    display: inline-block;
    background-image: url(../img/cta_car.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
    .pg .secao-acessoria figure img{

    }
.pg .secao-localizacao{
  padding: 239px 0 0;
}
  .pg .secao-localizacao ul{

  }
    .pg .secao-localizacao ul li{
      display: block;
      text-align: center;
      margin: 10px 0;
      cursor: pointer;
      -webkit-transition: ease-in-out .2s;
      -moz-transition: ease-in-out .2s;
      -ms-transition: ease-in-out .2s;
      -o-transition: ease-in-out .2s;
      transition: ease-in-out .2s;
      padding: 20px 0;
    }
    .pg .secao-localizacao ul li:hover{
      background-color: var(--cinza-fundo);
    }
      .pg .secao-localizacao ul li .localizacao, .pg .secao-localizacao ul li figure{
        width: 100%;
        display: inline-block;
        vertical-align: middle;
      }
      .pg .secao-localizacao ul li .localizacao{
        max-width: 21%;
        text-align: left;
      }
        .pg .secao-localizacao ul li .localizacao .titulo{
          -webkit-transition: ease-in-out .2s;
          -moz-transition: ease-in-out .2s;
          -ms-transition: ease-in-out .2s;
          -o-transition: ease-in-out .2s;
          transition: ease-in-out .2s;
        }
        .pg .secao-localizacao ul li .localizacao .sobre-localizacao{
          height: 0;
          overflow-y: hidden;
          opacity: 0;
          -webkit-transition: ease-in-out .2s;
          -moz-transition: ease-in-out .2s;
          -ms-transition: ease-in-out .2s;
          -o-transition: ease-in-out .2s;
          transition: ease-in-out .2s;
        }
        .pg .secao-localizacao ul li .localizacao .sobre-localizacao.active-sobre{
          height: unset;
        }
        .pg .secao-localizacao ul li .localizacao .sobre-localizacao.show-sobre{
          opacity: 1;
        }
          .pg .secao-localizacao ul li .localizacao .sobre-localizacao li{
            padding: 0;
            text-align: left;
            font-family: var(--roboto);
            font-size: var(--font-size-texto);
            line-height: 16px;
            margin: 0 0 21px;
          }
          .pg .secao-localizacao ul li .localizacao .sobre-localizacao li:last-child{
            margin: 0;
          }
      .pg .secao-localizacao ul li figure{
        width: 470px;
        height: 65px;
        overflow: hidden;
        background-image: url('../img/map_open.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        -webkit-transition: ease-in-out .2s;
        -moz-transition: ease-in-out .2s;
        -ms-transition: ease-in-out .2s;
        -o-transition: ease-in-out .2s;
        transition: ease-in-out .2s;
      }
        .pg .secao-localizacao ul li figure img{

        }
    .pg .secao-localizacao ul li.localizacao-active{
      padding: 40px 0;
      background-color: var(--cinza-fundo);
    }
      .pg .secao-localizacao ul li.localizacao-active .localizacao .titulo{
        margin: 0 0 40px;
      }
      .pg .secao-localizacao ul li.localizacao-active figure{
        height: 179px;
      }

.pg .anuncio{

}
  .pg .anuncio .anuncio-background{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 69px 82px;
  }
    .pg .anuncio .anuncio-background .titulo{
      color: #fff;
    }
    .pg .anuncio .anuncio-background .div-button-padrao{
      text-align: right;
    }
      .pg .anuncio .anuncio-background .div-button-padrao .button-padrao{

      }

.active-item{
  display: block;
}

.pg .secao-destaque-paginas{
  background-color: var(--preto-destaque);
  padding: 60px 0;
}
  .pg .secao-destaque-paginas article{

  }
    .pg .secao-destaque-paginas article .titulo{
      color: #fff;
      font-size: var(--font-size-titulo-destaque);
      line-height: var(--line-height-titulo-destaque);
    }
    .pg .secao-destaque-paginas article p{
      color: var(--cinza-claro);
      font-size: var(--font-size-texto);
      line-height: var(--line-height-texto);
      margin: 20px 0 0;
      width: 100%;
      max-width: 575px;
    }

.pg .secao-destaque-single{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pg .secao-sobre-projeto{
  padding: 50px 0;
}
  .pg .secao-sobre-projeto article{
    margin: 0 0 50px;
  }
    .pg .secao-sobre-projeto article .titulo{
      text-align: center;
      width: 100%;
      max-width: 720px;
      margin: 0 auto 50px;
    }
    .pg .secao-sobre-projeto article .sobre-projeto, .pg .secao-sobre-projeto article ul{
      width: 100%;
      max-width: 49%;
      display: inline-block;
      vertical-align: top;
    }
    .pg .secao-sobre-projeto article .sobre-projeto{}
      .pg .secao-sobre-projeto article .sobre-projeto .subtitulo{
        font-family: var(--roboto);
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 3px;
        margin: 0;
      }
      .pg .secao-sobre-projeto article .sobre-projeto p{
        font-size: var(--font-size-texto);
        font-family: var(--roboto);
        color: var(--cinza);
        width: 100%;
        max-width: 580px;
        font-weight: 500;
        margin: 20px 0 50px;
      }
      .pg .secao-sobre-projeto article .sobre-projeto .div-button-padrao{
        text-align: right;
        max-width: 580px;
        width: 100%;
      }
        .pg .secao-sobre-projeto article .sobre-projeto .div-button-padrao .button-padrao{}
    .pg .secao-sobre-projeto article ul{
      padding: 35px 0 0;
    }
      .pg .secao-sobre-projeto article ul li{
        display: inline-block;
        width: 100%;
        max-width: 49%;
        font-family: var(--roboto);
        font-size: 11px;
        font-weight: 500;
        letter-spacing: 3px;
        color: #000;
        margin: 0 0 20px;
        text-transform: uppercase;
        padding-left: 35px;
        position: relative;
      }
      .pg .secao-sobre-projeto article ul li::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 20px;
        height: 12px;
        display: block;
        background-image: url(../img/check@1,5x.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }
/* GERAL */


/* BODY */
body{}
/* BODY */


/* HEADER */
header{
  padding: 20px 0;
}
  header .logo{

  }
    header .logo figure{
      margin: 0;
    }
      header .logo figure img{
        width: 100%;
        max-width: 110px;
      }
  header .navbar{
    padding: 0;
  }
    header .navbar .navbar-toggler{

    }
      header .navbar .navbar-toggler .navbar-toggler-icon{

      }
        header .navbar .navbar-toggler .navbar-toggler-icon img{

        }
    header .navbar .navbar-collapse{

    }
      header .navbar .navbar-collapse .navbar-nav{
        width: 100%;
        text-align: center;
        display: block;
      }
        header .navbar .navbar-collapse .navbar-nav .nav-item{
          display: inline-block;
        }
          header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link{
            padding: 0 17px;
            font-family: var(--roboto);
            color: #000;
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 500;
            letter-spacing: 3px;
          }
  header .whatsapp{
    
  }
    header .whatsapp a{
      
    }
/* HEADER */


/* FOOTER */
footer{
  text-align: center;
  margin: 80px 0 40px;
}
  footer .footer{
    padding: 50px 0 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
    footer .footer figure{

    }
      footer .footer figure img{
        width: 100%;
        max-width: 110px;
      }
    footer .footer .menu-footer{
      margin: 40px 0;
    }
      footer .footer .menu-footer li{
        display: inline-block;
      }
        footer .footer .menu-footer li a{
          padding: 0 13px;
          font-family: var(--roboto);
          color: var(--cinza);
          text-transform: uppercase;
          font-size: 11px;
          font-weight: 500;
          letter-spacing: 3px;
        }
    footer .footer .redes-sociais{
      margin: 0 0 52px;
    }
      footer .footer .redes-sociais li{
        margin: 0 20px;
      }
        footer .footer .redes-sociais li a{

        }
          footer .footer .redes-sociais li a img{
            width: 100%;
            max-width: 20px;
          }
  footer .copyright{

  }
    footer .copyright p{
      font-family: var(--roboto);
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 3px;
    }
/* FOOTER */


/* INICIAL */
.pg-inicial{

}
  .pg-inicial .secao-destaque{
    background-image: url('../img/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 230px 0 90px;
    position: relative;
  }
  .pg-inicial .secao-destaque::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../img/display_servicos_gradient2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
    .pg-inicial .secao-destaque article{
      max-width: 584px;
      position: relative;
    }
      .pg-inicial .secao-destaque article .titulo{
        font-size: var(--font-size-titulo-destaque);
        line-height: var(--line-height-titulo-destaque);
        color: #fff;
      }
      .pg-inicial .secao-destaque article p{
        font-family: var(--roboto);
        font-size: var(--font-size-texto);
        line-height: var(--line-height-texto);
        color: var(--cinza-claro);
        margin: 20px 0 32px;
      }
      .pg-inicial .secao-destaque article .div-button-padrao{

      }
        .pg-inicial .secao-destaque article .div-button-padrao .button-padrao{

        }
  .pg-inicial .secao-servicos{
    padding: 100px 0 50px;
    background-color: var(--cinza-fundo);
  }
    .pg-inicial .secao-servicos .servicos-container{
      width: 100%;
      max-width: 1900px;
      margin: 0 auto;
      display: block;
    }
    .pg-inicial .secao-servicos article{
      max-width: 443px;
      display: block;
      width: 100%;
      margin: 60px 0 0 auto;
    }
      .pg-inicial .secao-servicos article .titulo{

      }
      .pg-inicial .secao-servicos article p{
        font-size: var(--font-size-texto);
        font-family: var(--roboto);
        font-weight: 400;
        max-width: 400px;
        margin: 35px 0;
      }
      .pg-inicial .secao-servicos article .div-button-padrao{

      }
        .pg-inicial .secao-servicos article .div-button-padrao .button-padrao{

        }
    .pg-inicial .secao-servicos .carrossel-servicos{
      position: relative;
      padding-left: 15px;
    }
    .pg-inicial .secao-servicos .carrossel-servicos::before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 86px;
      height: 100%;
      background: linear-gradient(90deg, rgba(247, 247, 247, 0) 0, #F7F7F7 100%);
      z-index: 1;
    }
      .pg-inicial .secao-servicos .carrossel-servicos .item-servico{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 200px 30px 30px;
        max-width: 250px;
      }
        .pg-inicial .secao-servicos .carrossel-servicos .item-servico .conteudo-servico{
          width: 100%;
          max-width: 300px;
        }
          .pg-inicial .secao-servicos .carrossel-servicos .item-servico .conteudo-servico .titulo{
            color: #fff;
            font-size: 17px;
            line-height: 25px;
            margin: 0 0 15px;
            height: 48px;
          }
          .pg-inicial .secao-servicos .carrossel-servicos .item-servico .conteudo-servico p{
            color: #fff;
            font-size: 14px;
          }
      .pg-inicial .secao-servicos .carrossel-servicos .owl-nav{
        margin: 37px 0 0;
      }
        .pg-inicial .secao-servicos .carrossel-servicos .owl-nav button{
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          background-image: url(../img/arrow_right_carrossel_black@1,5x.svg);
          width: 28px;
          height: 14px;
          outline: none;
        }
          .pg-inicial .secao-servicos .carrossel-servicos .owl-nav button span{
            display: none;
          }
        .pg-inicial .secao-servicos .carrossel-servicos .owl-nav .owl-prev{
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
        }
          .pg-inicial .secao-servicos .carrossel-servicos .owl-nav .owl-prev span{}
        .pg-inicial .secao-servicos .carrossel-servicos .owl-nav .owl-next{
          margin-left: 46px;
        }
          .pg-inicial .secao-servicos .carrossel-servicos .owl-nav .owl-next span{}
        .pg-inicial .secao-servicos .carrossel-servicos .owl-nav .disabled{
          opacity: .5;
          cursor: default;
        }
  .pg-inicial .agende-seu-horario{
    background-color: var(--cinza-fundo);
    padding: 0 0 50px;
  }
    .pg-inicial .agende-seu-horario .titulo{

    }
    .pg-inicial .agende-seu-horario .div-button-padrao{

    }
      .pg-inicial .agende-seu-horario .div-button-padrao .button-padrao{

      }
  .pg-inicial .secao-sobre-projeto{}
    .pg-inicial .secao-sobre-projeto .carrossel-projeto{}
      .pg-inicial .secao-sobre-projeto .carrossel-projeto .item-projeto{}
        .pg-inicial .secao-sobre-projeto .carrossel-projeto .item-projeto article{}
          .pg-inicial .secao-sobre-projeto .carrossel-projeto .item-projeto article .titulo{}
          .pg-inicial .secao-sobre-projeto .carrossel-projeto .item-projeto article .sobre-projeto, .pg-inicial .secao-sobre-projeto .carrossel-projeto .item-projeto article ul{}
          .pg-inicial .secao-sobre-projeto .carrossel-projeto .item-projeto article .sobre-projeto{}
            .pg-inicial .secao-sobre-projeto .carrossel-projeto .item-projeto article .sobre-projeto .subtitulo{}
            .pg-inicial .secao-sobre-projeto .carrossel-projeto .item-projeto article .sobre-projeto p{}
            .pg-inicial .secao-sobre-projeto .carrossel-projeto .item-projeto article .sobre-projeto .div-button-padrao{}
              .pg-inicial .secao-sobre-projeto .carrossel-projeto .item-projeto article .sobre-projeto .div-button-padrao .button-padrao{}
          .pg-inicial .secao-sobre-projeto .carrossel-projeto .item-projeto article ul{}
            .pg-inicial .secao-sobre-projeto .carrossel-projeto .item-projeto article ul li{}
            .pg-inicial .secao-sobre-projeto .carrossel-projeto .item-projeto article ul li::before{}
        .pg-inicial .secao-sobre-projeto .carrossel-projeto .item-projeto figure{}
          .pg-inicial .secao-sobre-projeto .carrossel-projeto .item-projeto figure img{}
    .pg-inicial .secao-sobre-projeto .carrossel-projeto .owl-nav{
      position: absolute;
      top: 320px;
      left: 90px;
      }
        .pg-inicial .secao-sobre-projeto .carrossel-projeto .owl-nav button{
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          background-image: url(../img/arrow_right_carrossel_black@1,5x.svg);
          width: 28px;
          height: 14px;
          outline: none;
        }
          .pg-inicial .secao-sobre-projeto .carrossel-projeto .owl-nav button span{
            display: none;
          }
        .pg-inicial .secao-sobre-projeto .carrossel-projeto .owl-nav .owl-prev{
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
        }
          .pg-inicial .secao-sobre-projeto .carrossel-projeto .owl-nav .owl-prev span{}
        .pg-inicial .secao-sobre-projeto .carrossel-projeto .owl-nav .owl-next{
          margin-left: 46px;
        }
          .pg-inicial .secao-sobre-projeto .carrossel-projeto .owl-nav .owl-next span{}
        .pg-inicial .secao-sobre-projeto .carrossel-projeto .owl-nav .disabled{
          opacity: .5;
          cursor: default;
        }
  .pg-inicial .conheca-store{

  }
    .pg-inicial .conheca-store .titulo{

    }
    .pg-inicial .conheca-store .div-button-padrao{

    }
      .pg-inicial .conheca-store .div-button-padrao .button-padrao{
        width: 100%;
        max-width: 208px;
        text-align: center;
      }
  .pg-inicial .secao-eventos{
    padding: 80px 0 158px;
    background-color: var(--cinza-fundo);
    margin: 50px 0 0;
  }
    .pg-inicial .secao-eventos .titulo{

    }
    .pg-inicial .secao-eventos .div-button-padrao{
      text-align: right;
    }
      .pg-inicial .secao-eventos .div-button-padrao .button-padrao{

      }
    .pg-inicial .secao-eventos .lista-eventos{
      margin: 88px 0 0;
    }
      .pg-inicial .secao-eventos .lista-eventos li{

      }
        .pg-inicial .secao-eventos .lista-eventos li .link-imagem{

        }
          .pg-inicial .secao-eventos .lista-eventos li .link-imagem figure{

          }
            .pg-inicial .secao-eventos .lista-eventos li .link-imagem figure img{

            }
        .pg-inicial .secao-eventos .lista-eventos li .data-evento{

        }
        .pg-inicial .secao-eventos .lista-eventos li .link-titulo{

        }
          .pg-inicial .secao-eventos .lista-eventos li .link-titulo .titulo{

          }
/* INICIAL */


/* EXTRAS */
/* EXTRAS */


/* MEDIA QUERY */
@media(max-width: 1540px){
  :root {
    --font-size-titulo-destaque: 34px;
    --font-size-titulo: 26px;
    --line-height-titulo: 34px;
    --line-height-titulo-destaque: 42px;
  }
  .pg-inicial .section-projeto .carrossel-projeto .item-projeto article .sobre-projeto {
    padding-right: 30px;
  }
}

@media(max-width: 1200px){}

@media(max-width: 991px){}

@media(max-width: 768px){}

@media(max-width: 445px){}

@media(max-width: 375px){}