/*
Theme Name: Desenvolvimentos
Theme URI: http://www.desenvolvimentos.com.br
Author: HC Desenvolvimentos
Author URI: https://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: desenvolvimentos
Tags: 

--------------------------------------------
ESTRUTURAÇÃO BASE (HC Desenvolvimentos v1)
--------------------------------------------
**** DECLARAÇÃO DE VARIÁVEIS
**** ESTILOS GERAIS
**** BODY
**** TOPO
**** RODAPÉ
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Michroma', sans-serif;
font-family: 'Roboto', sans-serif;

*/

/* SOBRE */
  @import url("css/eventos.css");

/* CONTATO */
  @import url("css/servicos.css");

/* PROJETO */
  @import url("css/projetos.css");

/* VARIÁVEIS */
:root{
  --michroma: 'Michroma', sans-serif;
  --roboto: 'Roboto', sans-serif;
  --preto-destaque: #1b1b1c;
  --cinza: rgba(0, 0, 0, 0.5);
  --cinza-claro: rgba(255, 255, 255, 0.8);
  --cinza-fundo: #f7f7f7;
  --cinza-escuro: #202828;
  --line-height-titulo-destaque: 46px;
  --line-height-titulo-evento: 28px;
  --line-height-titulo: 43px;
  --line-height-texto: 21px;
  --font-size-titulo-destaque: 37px;
  --font-size-titulo-evento: 20px;
  --font-size-titulo: 30px;
  --font-size-texto: 14px;
}
/* VARIÁVEIS */


/* GERAL */
a:hover{
  text-decoration: none;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
  display: inline-block;
}
p{
  margin: 0;
}
figure{
  margin: 0;
}
.hidden{
  display: none;
}
.large-container{
  width: 100%;
  margin: 0 auto;
  display: block;
  max-width: 1200px;
  
}
.mid-container{
  width: 100%;
  max-width: 1036px;
  display: block;
  margin: 0 auto;
  padding: 0 0;
}
.small-container{
  width: 100%;
  max-width: 1200px;
  display: block;
  margin: 0 auto;
  padding: 0 30px;
}
.titulo{
  font-family: var(--michroma);
  font-size: var(--font-size-titulo);
  line-height: var(--line-height-titulo);
  color: #000;
  text-transform: uppercase;
  margin: 0;
}
.div-button-padrao{}
  .div-button-padrao .button-padrao{
    font-family: var(--roboto);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    background-color: #fff;
    display: inline-block;
    color: #000;
    padding: 16px 25px;
    cursor: pointer;
    letter-spacing: 2.7px;
  }
  .div-button-padrao .button-padrao.button-padrao-preto{
    background-color: #000;
    color: #fff;
  }
.whatsapp{
  margin: 0;
  text-align: right;
}
  .whatsapp a{
    color: #000;
    font-family: var(--roboto);
    letter-spacing: 3px;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    padding-left: 35px;
  }
  .whatsapp a::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: url('img/whatsapp.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
.evento-centro{
  margin: 0 2.4%;
}
.pg .lista-eventos{
  text-align: center;
  font-size: 0;
}
  .pg .lista-eventos li{
    display: inline-block;
    width: 100%;
    max-width: 31.73%;
    text-align: left;
    vertical-align: top;
  }
  .pg .lista-eventos li:nth-child(3n+2){
    margin: 0 2.4%;
  }
    .pg .lista-eventos li .link-imagem{
      display: block;
    }
      .pg .lista-eventos li .link-imagem figure{
        height: 190px;
        overflow: hidden;
        display: flex;
        justify-content: center;
      }
        .pg .lista-eventos li .link-imagem figure img{
          width: auto;
          height: 100%;
        }
    .pg .lista-eventos li .data-evento, .pg .lista-eventos li .link-titulo{
      display: block;
      padding: 0 25px;
    }
    .pg .lista-eventos li .data-evento{
      font-size: 12px;
      font-weight: 600;
      font-family: var(--roboto);
      color: var(--cinza);
      letter-spacing: 3px;
      text-transform: uppercase;
      margin: 25px 0 14px;
    }
      .pg .lista-eventos li .link-titulo .titulo{
        font-family: var(--roboto);
        font-size: 18px;
        line-height: 28px;
        text-transform: none;
        font-weight: 400;
      }
.pg .secao-acessoria{
  background-color: var(--cinza-fundo);
  background: -moz-linear-gradient(to right, #000 0, #000 37%, #000 37%, var(--cinza-fundo) 37%, var(--cinza-fundo) 100%);
  background: -webkit-gradient(left top,right top,color-stop(0, #000),color-stop(51%, #000),color-stop(56%, #000),color-stop(57%, var(--cinza-fundo)),color-stop(100%, var(--cinza-fundo)));
  background: -webkit-linear-gradient(to right, #000 0, #000 37%, #000 37%, var(--cinza-fundo) 37%, var(--cinza-fundo) 100%);
  background: -o-linear-gradient(to right, #000 0, #000 37%, #000 37%, var(--cinza-fundo) 37%, var(--cinza-fundo) 100%);
  background: -ms-linear-gradient(to right, #000 0, #000 37%, #000 37%, var(--cinza-fundo) 37%, var(--cinza-fundo) 100%);
  background: linear-gradient(to right, #000 0, #000 37%, #000 37%, var(--cinza-fundo) 37%, var(--cinza-fundo) 100%);
}
  .pg .secao-acessoria article{
    background-color: #000;
    padding: 97px 163px 97px 0px;
  }
    .pg .secao-acessoria article .titulo{
      color: #fff;
    }
    .pg .secao-acessoria article p{
      color: var(--cinza-claro);
      font-family: var(--roboto);
      font-size: var(--font-size-texto);
      line-height: var(--line-height-texto);
      margin: 43px 0;
    }
    .pg .secao-acessoria article form{
      font-size: 0;
      width: 100%;
      max-width: 375px;
    }
      .pg .secao-acessoria article form p, .pg .secao-acessoria article form input, .pg .secao-acessoria article form .div-input-enviar{
        display: inline-block;
        width: 100%;
        font-size: 16px;
        vertical-align: top;
      }
      .pg .secao-acessoria article form p{
        margin: 0;
        max-width: 76%;
      }
      .pg .secao-acessoria article form input{
        outline: none;
        max-width: 100%;
        border: 1px solid #fff;
        padding: 12px 20px;
        height: 50px;
      }
      .pg .secao-acessoria article form input[type="email"]{
        max-width: 100%;
        font-family: var(--roboto);
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 3px;
      }
      .pg .secao-acessoria article form .div-input-enviar{
        max-width: 24%;
        position: relative;
      }
        .pg .secao-acessoria article form .div-input-enviar input{
          background-color: transparent;
          position: relative;
          background-image: url(img/arrowacessoria.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 32px;
        }
  .pg .secao-acessoria figure{
    position: relative;
  }
  .pg .secao-acessoria figure::before{
    content: '';
    position: absolute;
    top: 27px;
    left: -168px;
    width: 840px;
    height: 628px;
    display: inline-block;
    background-image: url(img/cta_car.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.pg .secao-localizacao{
  padding: 190px 0 0;
}
    .pg .secao-localizacao ul li{
      display: block;
      text-align: center;
      margin: 10px 0;
      cursor: pointer;
      -webkit-transition: ease-in-out .2s;
      -moz-transition: ease-in-out .2s;
      -ms-transition: ease-in-out .2s;
      -o-transition: ease-in-out .2s;
      transition: ease-in-out .2s;
      padding: 20px 30px;
      height: 105px;
      overflow: hidden;
    }
    .pg .secao-localizacao ul li:hover{
      background-color: var(--cinza-fundo);
    }
      .pg .secao-localizacao ul li .localizacao, .pg .secao-localizacao ul li figure{
        width: 100%;
        display: inline-block;
        vertical-align: top;
      }
      .pg .secao-localizacao ul li .localizacao{
        max-width: 314px;
        text-align: left;
      }
        .pg .secao-localizacao ul li .localizacao .titulo{
          -webkit-transition: ease-in-out .2s;
          -moz-transition: ease-in-out .2s;
          -ms-transition: ease-in-out .2s;
          -o-transition: ease-in-out .2s;
          transition: ease-in-out .2s;
          position: relative;
          margin: 15px 0 0;
        }
        .pg .secao-localizacao ul li .localizacao .titulo::before{
          content: '';
          position: absolute;
          top: 50%;
          right: 20px;
          display: inline-block;
          width: 12px;
          height: 7px;
          opacity: .5;
          background-image: url(img/chevrondownblack.svg);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
        }
        .pg .secao-localizacao ul li .localizacao .sobre-localizacao{
          opacity: 0;
          -webkit-transition: ease-in-out .2s;
          -moz-transition: ease-in-out .2s;
          -ms-transition: ease-in-out .2s;
          -o-transition: ease-in-out .2s;
          transition: ease-in-out .2s;
        }
        .pg .secao-localizacao ul li .localizacao .sobre-localizacao.active-sobre{
          height: unset;
        }
        .pg .secao-localizacao ul li .localizacao .sobre-localizacao.show-sobre{
          opacity: 1;
        }
        .pg .secao-localizacao ul li .localizacao figure.show-sobre{
          opacity: 1;
        }
        .pg .secao-localizacao ul li .localizacao figure{
          display: none;
          opacity: 0;
        }
          .pg .secao-localizacao ul li .localizacao .sobre-localizacao li{
            padding: 0;
            text-align: left;
            font-family: var(--roboto);
            font-size: var(--font-size-texto);
            line-height: 16px;
            margin: 0 0 21px;
            position: relative;
            padding-left: 30px;
            height: unset;
            font-weight: 500;
            overflow: unset;
          }
          .pg .secao-localizacao ul li .localizacao .sobre-localizacao li:last-child{
            margin: 0;
          }
          .pg .secao-localizacao ul li .localizacao .sobre-localizacao img{
            position: absolute;
            top: 50%;
            left: 0;
            width: 18px;
            height: 21px;
            display: inline-block;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
          }
          .pg .secao-localizacao ul li .localizacao .sobre-localizacao li:nth-child(1)::before{
            background-image: url(img/pincontact.svg);
          }
          .pg .secao-localizacao ul li .localizacao .sobre-localizacao li:nth-child(2)::before{
            background-image: url(img/phonecontact.svg);
            width: 19px;
            height: 20px;
          }
          .pg .secao-localizacao ul li .localizacao .sobre-localizacao li:nth-child(3)::before{
            background-image: url(img/mailcoontact.svg);
            width: 21px;
            height: 17px;
          }
      .pg .secao-localizacao ul li figure{
        width: 470px;
        height: 65px;
        overflow: hidden;
        background-image: url('img/map_open.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        -webkit-transition: ease-in-out .2s;
        -moz-transition: ease-in-out .2s;
        -ms-transition: ease-in-out .2s;
        -o-transition: ease-in-out .2s;
        transition: ease-in-out .2s;
      }
        .pg .secao-localizacao ul li figure a{
          display: block;
          height: 100%;
        }
    .pg .secao-localizacao ul li.localizacao-active{
      padding: 40px 30px;
      background-color: var(--cinza-fundo);
      height: 259px;
    }
      .pg .secao-localizacao ul li.localizacao-active .localizacao .titulo{
        margin: 0 0 40px;
      }
      .pg .secao-localizacao ul li.localizacao-active .localizacao .titulo::before{
        background-image: url(img/chevronupblack.svg);
        opacity: 1;
      }
      .pg .secao-localizacao ul li.localizacao-active figure{
        height: 179px;
      }
.pg .anuncio{
  margin: 50px 0;
}
  .pg .anuncio .row{
    align-items: center;
  }
  .pg .anuncio .anuncio-background{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px 75px;
  }
    .pg .anuncio .anuncio-background .titulo{
      color: #fff;
    }
    .pg .anuncio .anuncio-background .div-button-padrao{
      text-align: right;
    }
      .pg .conheca-store .anuncio-background .div-button-padrao .button-padrao{
        width: 100%;
        max-width: 208px;
        text-align: center;
      }
.active-item{
  display: block;
}
.pg .secao-destaque-paginas{
  background-color: var(--preto-destaque);
  padding: 60px 0;
}
    .pg .secao-destaque-paginas article .titulo{
      color: #fff;
      font-size: var(--font-size-titulo-destaque);
      line-height: var(--line-height-titulo-destaque);
    }
    .pg .secao-destaque-paginas article p{
      color: var(--cinza-claro);
      font-size: var(--font-size-texto);
      line-height: var(--line-height-texto);
      margin: 20px 0 0;
      width: 100%;
      max-width: 575px;
    }
.pg .secao-destaque-single{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.pg .secao-sobre-projeto{
  padding: 50px 0;
}
  .pg .secao-sobre-projeto article{
    margin: 0 0 50px;
    font-size: 0;
  }
    .pg .secao-sobre-projeto article .div-button-padrao{
      display: none;
    }
    .pg .secao-sobre-projeto article .titulo{
      text-align: center;
      width: 100%;
      max-width: 720px;
      margin: 0 auto 50px;
      min-height: 70px;
    }
    .pg .secao-sobre-projeto article .sobre-projeto, .pg .secao-sobre-projeto article ul{
      width: 100%;
      max-width: 49%;
      display: inline-block;
      vertical-align: top;
    }
    .pg .secao-sobre-projeto article .sobre-projeto{
      margin-right: 6.5%;
    }
      .pg .secao-sobre-projeto article .sobre-projeto .subtitulo{
        font-family: var(--roboto);
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 3px;
        margin: 0;
      }
      .pg .secao-sobre-projeto article .sobre-projeto p{
        font-size: var(--font-size-texto);
        font-family: var(--roboto);
        color: var(--cinza);
        width: 100%;
        max-width: 580px;
        font-weight: 500;
        margin: 20px 0 50px;
        min-height: 104px;
      }
      .pg .secao-sobre-projeto article .sobre-projeto .buttons-carrossel{
        position: absolute;
        bottom: 14px;
        left: 0;
      }
        .pg .secao-sobre-projeto article .sobre-projeto .buttons-carrossel button{
            background-repeat: no-repeat;
            background-position: center;
            background-size: 28px;
            background-image: url(img/arrowrightcarrosselblack.svg);
            width: 30px;
            height: 16px;
            outline: none;
            background-color: transparent;
            border: none;
        }
          .pg .secao-sobre-projeto article .sobre-projeto .buttons-carrossel button span{
            display: none;
          }
        .pg .secao-sobre-projeto article .sobre-projeto .buttons-carrossel .owl-prev{
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
        }
        .pg .secao-sobre-projeto article .sobre-projeto .buttons-carrossel .owl-next{
          margin-left: 46px;
        }
      .pg .secao-sobre-projeto article .sobre-projeto .div-button-padrao{
        text-align: right;
        max-width: 580px;
        width: 100%;
        display: block;
      }
        .pg .secao-sobre-projeto article .sobre-projeto .div-button-padrao .button-padrao{
          font-weight: 400;
          font-size: 11px;
          padding: 17px 45px;
        }
    .pg .secao-sobre-projeto article ul{
      padding: 35px 0 0;
      max-width: 44.5%;
    }
      .pg .secao-sobre-projeto article ul li{
        display: inline-block;
        width: 100%;
        max-width: 50%;
        min-width: 116.89px;
        font-family: var(--roboto);
        font-size: 11px;
        font-weight: 500;
        letter-spacing: 3px;
        color: #000;
        margin: 0 0 30px 0;
        text-transform: uppercase;
        padding-left: 35px;
        position: relative;
        line-height: 20px;
      }
      .pg .secao-sobre-projeto article ul li::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 20px;
        height: 12px;
        display: block;
        background-image: url(img/checkb.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }
        .pg .secao-sobre-projeto article ul li a{
          color: #000;
        }
.pop-up-agendamento{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  overflow-y: scroll;
  overflow-x: hidden;
  display: none;
}
.pop-up-agendamento.show-pop-up{
  display: block;
}
  .pop-up-agendamento .pop-up-lente{
    display: block;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.61);
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: ease-in-out .2s;
    -moz-transition: ease-in-out .2s;
    -ms-transition: ease-in-out .2s;
    -o-transition: ease-in-out .2s;
    transition: ease-in-out .2s;
  }
  .pop-up-agendamento .pop-up-lente.show-pop-up-lente{
    height: 100%;
  }
  .pop-up-agendamento .pop-up-container{
    width: 100%;
    max-width: 930px;
    margin: 50px auto;
    display: block;
    opacity: 0;
    -webkit-transition: ease-in-out .2s;
    -moz-transition: ease-in-out .2s;
    -ms-transition: ease-in-out .2s;
    -o-transition: ease-in-out .2s;
    transition: ease-in-out .2s;
  }
  .pop-up-agendamento .pop-up-container.show-pop-up-container{
    opacity: 1;
  }
    .pop-up-agendamento .pop-up article{
      background-color: #fff;
      padding: 80px 70px;
      height: 100%;
    }
      .pop-up-agendamento .pop-up article .close-pop-up{
        -webkit-filter: brightness(0);
        -moz-filter: brightness(0);
        -ms-filter: brightness(0);
        -o-filter: brightness(0);
        filter: brightness(0);
        display: none;
        margin: 0;
      }
      .pop-up-agendamento .pop-up article .titulo{
        margin: 0 0 25px;
        font-size: 30px;
        line-height: 43px;
      }
        .pop-up-agendamento .pop-up article .lista-enderecos li{
          display: block;
          color: #000;
          font-family: var(--roboto);
          font-weight: 400;
          font-size: 14px;
          margin: 0 0 22px;
          position: relative;
          padding-left: 22px;
        }
        .pop-up-agendamento .pop-up article .lista-enderecos li::before, .pop-up-agendamento .pop-up article .lista-contatos li::before, .pop-up-agendamento .pop-up form .icone-input::before{
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          display: block;
          width: 16px;
          height: 20px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          background-image: url('img/pincontact.svg');
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
        }
        .pop-up-agendamento .pop-up article .lista-enderecos li a{
            color: #000;
        }
          .pop-up-agendamento .pop-up article .lista-enderecos li span{
            padding: 0 5px;
            font-family: var(--roboto);
            color: var(--cinza);
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 500;
            letter-spacing: 0;
          }
      .pop-up-agendamento .pop-up article .lista-contatos{
        border-top: 1px solid #D8D8D8;
        margin: 44px 0 0;
        padding: 25px 0 0
      }
        .pop-up-agendamento .pop-up article .lista-contatos li{
          display: block;
          font-family: var(--roboto);
          font-size: 14px;
          margin: 0 0 15px;
          position: relative;
          padding-left: 28px;
        }
        .pop-up-agendamento .pop-up article .lista-contatos li:first-child::before{
          background-image: url(img/phonecontact.svg);
          width: 17px;
          height: 18px;
        }
        .pop-up-agendamento .pop-up article .lista-contatos li:last-child{
          margin: 0;
        }
        .pop-up-agendamento .pop-up article .lista-contatos li:last-child::before{
          background-image: url(img/mailcoontact.svg);
          width: 18px;
          height: 15px;
        }
  .pop-up-agendamento .close-pop-up{
    float: right;
    height: 14px;
    width: 14px;
    line-height: 10px;
    margin: 25px 30px 0 0;
    cursor: pointer;
    display: none;
  }
    .pop-up-agendamento .pop-up .formulario-contato .titulo{
      color: #fff;
      margin: 18px 0 23px;
      display: none;
    }
    .pop-up-agendamento .pop-up .close-sub-menu{
      display: none;
    }
      .pop-up-agendamento .pop-up .close-sub-menu img{
        width: 27px;
        -webkit-filter: brightness(4);
        -moz-filter: brightness(4);
        -ms-filter: brightness(4);
        -o-filter: brightness(4);
        filter: brightness(4);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    .pop-up-agendamento .pop-up form{
      background-color: #000;
      padding: 68px 50px;
      height: 100%;
    }
      .pop-up-agendamento .pop-up form .icone-input{
        display: block;
        margin: 0 0 20px;
        position: relative;
      }
      .pop-up-agendamento .pop-up form .icone-input::before{
        width: 15px;
        height: 17px;
        top: 20px;
        left: 16px;
      }
      .pop-up-agendamento .pop-up form .icone-input:nth-child(1)::before{
        background-image: url('img/userform.svg');
      }
      .pop-up-agendamento .pop-up form .icone-input:nth-child(2)::before{
        background-image: url('img/mailform.svg');
        width: 15px;
        height: 12px;
      }
      .pop-up-agendamento .pop-up form .icone-input:nth-child(3)::before{
        background-image: url('img/phone.svg');
        width: 17px;
        height: 17px;
      }
      .pop-up-agendamento .pop-up form .icone-input:nth-child(4)::before{
        background-image: url('img/calendarform.svg');
        width: 15px;
        height: 16px;
      }
      .pop-up-agendamento .pop-up form .icone-input:nth-child(5)::before{
        background-image: url('img/toolform.svg');
        width: 15px;
        height: 16px;
      }
      .pop-up-agendamento .pop-up form .icone-input:nth-child(6)::before{
        background-image: url('img/mappinform.svg');
      }
      .pop-up-agendamento .pop-up form .icone-input:nth-child(7)::before{
        background-image: url('img/editform.svg');
        width: 15px;
        height: 14px;
      }
        .pop-up-agendamento .pop-up form .icone-input input, .pop-up-agendamento .pop-up form .icone-input select, .pop-up-agendamento .pop-up form .icone-input textarea{
          display: block;
          width: 100%;
          outline: none;
          background-color: rgba(255, 255, 255, 0.15);
          border: none;
          padding: 12px 0;
          font-family: var(--roboto);
          text-transform: uppercase;
          font-size: 10px;
          font-weight: 400;
          letter-spacing: 3px;
          color: rgba(255, 255, 255, 0.5);
          text-indent: 44px;
        }
        .pop-up-agendamento .pop-up form .icone-input input[type="text"]::placeholder, .pop-up-agendamento .pop-up form .icone-input input[type="email"]::placeholder, .pop-up-agendamento .pop-up form .icone-input textarea::placeholder{
          font-weight: 400;
          color: rgba(255, 255, 255, 0.5);
        }
        .pop-up-agendamento .pop-up form .icone-input input[type="date"]{
          text-indent: 21px;
        }
        .pop-up-agendamento .pop-up form .icone-input input[type="date"],
        .pop-up-agendamento .pop-up form .icone-input select{
          height: 37.6px;
        }
        .pop-up-agendamento .pop-up form .icone-input select{
          text-indent: 43px;
        }
          .pop-up-agendamento .pop-up form .icone-input select option{
            color: #000;
          }
        .pop-up-agendamento .pop-up form .icone-input textarea{
          resize: none;
          height: 108px;
          padding: 12px 45px;
          text-indent: 0;
        }
      .pop-up-agendamento .pop-up form .div-button-padrao{
        text-align: right;
      }
        .pop-up-agendamento .pop-up form .div-button-padrao .button-padrao{
          border: none;
          outline: none;
          font-size: 11px;
          padding: 10px 40px;
        }
    .pop-up-agendamento .pop-up article .div-button-padrao{
      display: none;
      padding: 45px 0 0;
    }
      .pop-up-agendamento .pop-up article .div-button-padrao .button-padrao{
        display: block;
        text-align: center;
      }
.col-mobile, .figure-mobile{
  display: none;
}
/* GERAL */


/* BODY */
body.stop-scroll{
  overflow-y: hidden;
}
/* BODY */


/* HEADER */
header{
  /*padding: 20px 0;*/
}
  header .row{
    align-items: center;
  }
  header .col-lg-8{
    position: unset;
  }
  header .logo-branca{
    display: none;
    padding: 22px 30px 0;
  }
  header .logo-branca.show-logo-branca{
    display: inline-block;
  }
    header .logo figure{
      margin: 0;
    }
      header .logo figure img{
        width: 100%;
        max-width: 95px;
      }
  header .navbar{
    padding: 0;
    position: unset;
  }
    header .navbar .open-menu-button{
      display: none;
    }
    header .navbar .navbar-header{
      margin: 0 auto;
    }
      header .navbar .navbar-header .close-navbar-header{
        display: none;
        position: absolute;
        top: 20px;
        right: 30px;
      }
      header .navbar .navbar-header .close-sub-menu{
        position: absolute;
        top: 100px;
        left: 30px;
        z-index: 6;
        display: none;
      }
      header .navbar .navbar-header .close-sub-menu.show-close-sub-menu{
        display: block;
      }
        header .navbar .navbar-header .close-sub-menu img{
          width: 27px;
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      header .navbar .navbar-header .menu-principal-container{
        display: block;
        margin: 0 auto;
      }
      header .navbar .navbar-header .menu-principal-container ul{
        width: 100%;
        text-align: center;
        display: block;
      }
        header .navbar .navbar-header .menu-principal-container ul li{
          display: inline-block;
          border-bottom: 6px solid transparent;
        }
        header .navbar .navbar-header .menu-principal-container ul li:hover{
          border-color: #1B1B1C;
        }
        .post-type-archive-servico header .navbar .navbar-header .menu-principal-container ul #menu-item-33,
        .post-type-archive-projeto header .navbar .navbar-header .menu-principal-container ul #menu-item-34,
        .single-projeto header .navbar .navbar-header .menu-principal-container ul #menu-item-34,
        .search-results header .navbar .navbar-header .menu-principal-container ul #menu-item-34,
        .post-type-archive-evento header .navbar .navbar-header .menu-principal-container ul #menu-item-36,
        .single-evento header .navbar .navbar-header .menu-principal-container ul #menu-item-36{
          border-color: #1B1B1C;
        }
          header .navbar .navbar-header .menu-principal-container ul li a{
            padding: 26px 13px 20px !important;
            font-family: var(--roboto);
            color: #000;
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 500;
            letter-spacing: 3px;
            display: inline-block;
            -webkit-transition: ease-in-out .1s;
            -moz-transition: ease-in-out .1s;
            -ms-transition: ease-in-out .1s;
            -o-transition: ease-in-out .1s;
            transition: ease-in-out .1s;
            position: relative;
          }
          header .navbar .navbar-header .menu-principal-container ul li:nth-child(1) a::before{
            content: '';
            position: absolute;
            bottom: 25px;
            right: 3px;
            display: block;
            width: 8px;
            height: 4px;
            background-image: url(img/chevrondownblack.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            opacity: .5;
          }
          header .navbar .navbar-header .menu-principal-container ul li:hover .sub-menu{
            display: block;
          }
          header .navbar .navbar-header .menu-principal-container ul li .sub-menu{
            position: absolute;
            left: 0;
            top: 68px;
            text-align: left;
            background-color: #1b1b1c;
            z-index: 5;
            padding: 30px 0 0;
            display: none;
            overflow: hidden;
            min-height: 556px;
            -webkit-transition: ease-in-out .1s;
            -moz-transition: ease-in-out .1s;
            -ms-transition: ease-in-out .1s;
            -o-transition: ease-in-out .1s;
            transition: ease-in-out .1s;
          }
            header .navbar .navbar-header .menu-principal-container ul li .sub-menu li{
              display: block;
              width: 100%;
              border: none;
              -webkit-transition: ease-in-out .1s;
              -moz-transition: ease-in-out .1s;
              -ms-transition: ease-in-out .1s;
              -o-transition: ease-in-out .1s;
              transition: ease-in-out .1s;
            }
            header .navbar .navbar-header .menu-principal-container ul li .sub-menu li:hover{
              background-color: #fff;
            }
            header .navbar .navbar-header .menu-principal-container ul li .sub-menu li:hover a{
              padding: 25px 0 !important;
              padding-left: 80px !important;
            }
              header .navbar .navbar-header .menu-principal-container ul li .sub-menu li a{
                padding: 15px 0 !important;
                margin: 0 auto !important;
                border: none;
                font-family: var(--michroma);
                font-size: var(--font-size-titulo-evento);
                color: #484849;
                line-height: var(--line-height-titulo-evento);
                display: block;
                position: relative;
                width: 100%;
                max-width: 720px;
              }
              header .navbar .navbar-header .menu-principal-container ul li .sub-menu li a::before, header .navbar .navbar-header .menu-principal-container ul li .sub-menu li a::after{
                content: '';
                position: absolute;
                top: 50%;
                left: 20px;
                width: 38px;
                height: 38px;
                display: block;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
                -webkit-transition: ease-in-out .1s;
                -moz-transition: ease-in-out .1s;
                -ms-transition: ease-in-out .1s;
                -o-transition: ease-in-out .1s;
                transition: ease-in-out .1s;
                opacity: 0;
                -webkit-filter: brightness(0);
                -moz-filter: brightness(0);
                -ms-filter: brightness(0);
                -o-filter: brightness(0);
                filter: brightness(0);
              }
              header .navbar .navbar-header .menu-principal-container ul li .sub-menu li:nth-child(1) a::before{
                background-image: url('img/servicos_menu_icon_active5.svg');
              }
              header .navbar .navbar-header .menu-principal-container ul li .sub-menu li:nth-child(2) a::before{
                background-image: url('img/servicos_menu_icon_active6.svg');
              }
              header .navbar .navbar-header .menu-principal-container ul li .sub-menu li:nth-child(3) a::before{
                background-image: url('img/servicos_menu_icon_active3.svg');
              }
              header .navbar .navbar-header .menu-principal-container ul li .sub-menu li:nth-child(4) a::before{
                background-image: url('img/servicos_menu_icon_active4.svg');
              }
              header .navbar .navbar-header .menu-principal-container ul li .sub-menu li:nth-child(5) a::before{
                background-image: url('img/servicos_menu_icon_active2.svg');
                width: 42px;
                height: 29px;
              }
              header .navbar .navbar-header .menu-principal-container ul li .sub-menu li:nth-child(6) a::before{
                background-image: url('img/servicos_menu_icon_active11.svg');
                width: 44px;
                height: 32px;
              }
              header .navbar .navbar-header .menu-principal-container ul li .sub-menu li:nth-child(7) a::before{
                background-image: url('img/servicos_menu_icon_active7.svg');
              }
              header .navbar .navbar-header .menu-principal-container ul li .sub-menu li:nth-child(8) a::before{
                background-image: url('img/servicos_menu_icon_active8.svg');
              }
              header .navbar .navbar-header .menu-principal-container ul li .sub-menu li:hover a::before, header .navbar .navbar-header .menu-principal-container ul li .sub-menu li:hover a::after{
                opacity: 1;
              }
              header .navbar .navbar-header .menu-principal-container ul li .sub-menu li a::after{
                background-image: url(img/arrowservicosrightblack.svg);
                left: unset;
                right: 0;
                width: 30px;
                height: 30px;
                opacity: 0;
              }
      header .redes-sociais{
        margin: 145px 0 0;
        padding: 0 30px 20px;
        display: none;
      }
        header .redes-sociais li{
          margin-right: 36px;
        }
            header .redes-sociais li a img{
              width: 100%;
              max-width: 18px;
            }
/* HEADER */


/* FOOTER */
footer{
  text-align: center;
  margin: 80px 0 40px;
}
  footer .footer{
    padding: 50px 0 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
      footer .footer figure img{
        width: 100%;
        max-width: 110px;
      }
    footer .footer .menu-footer{
      margin: 40px 0;
    }
      footer .footer .menu-footer li{
        display: inline-block;
      }
        footer .footer .menu-footer li a{
          padding: 0 13px;
          font-family: var(--roboto);
          color: var(--cinza);
          text-transform: uppercase;
          font-size: 11px;
          font-weight: 500;
          letter-spacing: 3px;
        }
        footer .footer .menu-footer li .sub-menu{
          display: none;
        }
    footer .footer .redes-sociais{
      margin: 0 0 52px;
    }
      footer .footer .redes-sociais li{
        margin: 0 20px;
      }
          footer .footer .redes-sociais li a img{
            width: 100%;
            max-width: 20px;
          }
    footer .copyright p{
      font-family: var(--roboto);
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 3px;
    }
/* FOOTER */


/* INICIAL */
      .pg-inicial .secao-destaque .carrossel-destaque .item-destaque{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 230px 0 90px;
        position: relative;
      }
      .pg-inicial .secao-destaque .carrossel-destaque .item-destaque::before{
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('img/display_servicos_gradient2.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    .pg-inicial .secao-destaque article{
      max-width: 584px;
      position: relative;
    }
      .pg-inicial .secao-destaque article .titulo{
        font-size: var(--font-size-titulo-destaque);
        line-height: var(--line-height-titulo-destaque);
        color: #fff;
      }
      .pg-inicial .secao-destaque article p{
        font-family: var(--roboto);
        font-size: var(--font-size-texto);
        line-height: var(--line-height-texto);
        color: var(--cinza-claro);
        margin: 20px 0 32px;
      }
  .pg-inicial .secao-servicos{
    padding: 100px 0 50px;
    background-color: var(--cinza-fundo);
  }
    .pg-inicial .secao-servicos .servicos-container{
      width: 100%;
      max-width: 1532px;
      margin: 0 auto;
      display: block;
    }
    .pg-inicial .secao-servicos article{
      max-width: 463px;
      display: block;
      width: 100%;
      margin: 60px 0 0 auto;
    }
      .pg-inicial .secao-servicos article p{
        font-size: var(--font-size-texto);
        font-family: var(--roboto);
        font-weight: 400;
        max-width: 400px;
        margin: 35px 0;
      }
        .pg-inicial .secao-servicos article .div-button-padrao .button-padrao{
          font-weight: 400;
          font-size: 12px;
          padding: 17px 40px;
        }
    .pg-inicial .secao-servicos .carrossel-servicos{
      position: relative;
      padding-left: 4px;
    }
    .pg-inicial .secao-servicos .carrossel-servicos::before{
      content: '';
      position: absolute;
      top: -2px;
      right: -2px;
      width: 192px;
      height: 100%;
      background: linear-gradient(90deg, rgba(247, 247, 247, 0) -3%, #F7F7F7 92%);
      z-index: 1;
    }
      .pg-inicial .secao-servicos .carrossel-servicos .item-servico{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 230px;
      }
        .pg-inicial .secao-servicos .carrossel-servicos .item-servico a{
            display: block;
            padding: 190px 24px 30px;
        }
        .pg-inicial .secao-servicos .carrossel-servicos .item-servico .conteudo-servico{
          width: 100%;
          max-width: 300px;
        }
          .pg-inicial .secao-servicos .carrossel-servicos .item-servico .conteudo-servico .titulo{
            color: #fff;
            font-size: 17px;
            line-height: 25px;
            margin: 0 0 15px;
            height: 70px;
          }
          .pg-inicial .secao-servicos .carrossel-servicos .item-servico .conteudo-servico p{
            color: #fff;
            font-size: 14px;
          }
      .pg-inicial .secao-servicos .carrossel-servicos .owl-nav{
        margin: 37px 0 0;
      }
        .pg-inicial .secao-servicos .carrossel-servicos .owl-nav button{
            background-repeat: no-repeat;
            background-position: center;
            background-size: 28px;
            background-image: url(img/arrowrightcarrosselblack.svg);
            width: 30px;
            height: 16px;
            outline: none;
        }
          .pg-inicial .secao-servicos .carrossel-servicos .owl-nav button span{
            display: none;
          }
        .pg-inicial .secao-servicos .carrossel-servicos .owl-nav .owl-prev{
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
        }
        .pg-inicial .secao-servicos .carrossel-servicos .owl-nav .owl-next{
          margin-left: 46px;
        }
        .pg-inicial .secao-servicos .carrossel-servicos .owl-nav .disabled{
          opacity: .5;
          cursor: default;
        }
  .pg-inicial .agende-seu-horario{
    background-color: var(--cinza-fundo);
    padding: 0 0 50px;
    margin: 0;
  }
          .pg-inicial .secao-sobre-projeto .carrossel-projeto .item-projeto article .sobre-projeto{
              position: relative;
          }
      .pg-inicial .secao-sobre-projeto .carrossel-projeto .owl-nav{
        position: absolute;
        display: none;
      }
  .pg-inicial .conheca-store{
    margin: 0 0 50px;
  }
      .pg-inicial .conheca-store .div-button-padrao .button-padrao{
        width: 100%;
        max-width: 208px;
        text-align: center;
      }
  .pg-inicial .secao-eventos{
    padding: 80px 0 158px;
    background-color: var(--cinza-fundo);
    margin: 50px 0 0;
  }
    .pg-inicial .secao-eventos .div-button-padrao{
      text-align: right;
    }
      .pg-inicial .secao-eventos .div-button-padrao .button-padrao{
        padding: 15px 35px;
      }
    .pg-inicial .secao-eventos .lista-eventos{
      margin: 70px 0 0;
    }
    .pg-inicial .secao-eventos .lista-eventos + .div-button-padrao{
      display: none;
      text-align: left;
    }
/* INICIAL */


/* EXTRAS */
div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
  border: 2px solid #f7e700;
  background-color: #f7e700;
  color: #000;
  font-family: var(--roboto);
  font-size: 14px;
}
div.wpcf7-mail-sent-ng, div.wpcf7-aborted {
  border: 2px solid #ff0000;
  background-color: #ff0000;
  font-size: 14px;
  font-family: var(--roboto);
  color: #000;
}
header .navbar .navbar-header::-webkit-scrollbar {
  background: #fff;
  width: 10px;
}
header .navbar .navbar-header::-webkit-scrollbar-thumb {
  background: #000;
}
div.wpcf7-mail-sent-ok {
    border: 2px solid #398f14;
    font-size: 14px;
    color: #fff;
    background-color: #398f14;
}
/* EXTRAS */


/* MEDIA QUERY */
@media(max-width: 1540px){
  .pg-inicial .section-projeto .carrossel-projeto .item-projeto article .sobre-projeto {
    padding-right: 30px;
  }
  .pg-inicial .secao-servicos .carrossel-servicos::before {
    right: 0;
  }
}
@media(max-width: 1330px){
  .pg .secao-acessoria figure::before {
    top: 101px;
    left: -128px;
    width: 680px;
    height: 478px;
  }
  .pg .secao-localizacao {
    padding: 110px 0 0;
  }
}
@media(max-width: 1200px){
  .pg .secao-acessoria article {
    background-color: #000;
    padding: 97px 100px 97px 0px;
  }
  .pg .secao-acessoria article p {
    margin: 30px 0;
  }
  .large-container {
    max-width: 1070px;
  }
  .mid-container {
    max-width: 895px;
  }
  header .navbar .navbar-header .menu-principal-container ul li:nth-child(1) a::before {
    right: 0;
  }
  header .navbar .navbar-header .menu-principal-container ul li a {
    padding: 26px 8px 20px !important;
    font-size: 10px;
  }
  header .logo figure img {
    max-width: 85px;
  }
  .whatsapp a {
    font-size: 11px;
  }
  .pg-inicial .secao-servicos article {
    max-width: 423px;
  }
}
@media(max-width: 1070px){
  .pg .secao-acessoria figure::before {
    top: 155px;
    left: -98px;
    width: 580px;
    height: 408px;
  }
}
@media(max-width: 991px){
  .large-container{
    padding: 0 30px;
  }
  .mid-container{
    padding: 0 30px; 
  }
  header .navbar .navbar-header .menu-principal-container ul {
    margin: 50px 0 0;
  }
  header .navbar .navbar-header .close-navbar-header{
    display: block;
  }
  header .navbar .navbar-header .menu-principal-container ul li a {
    letter-spacing: 2px;
  }
  .whatsapp a {
    letter-spacing: 2px;
    padding-left: 25px;
  }
  .whatsapp a::before {
    width: 17px;
    height: 17px;
  }
  header .logo figure img {
    max-width: 80px;
  }
  header .navbar .navbar-header .menu-principal-container ul li:nth-child(1) a::before {
    bottom: 20px;
  }
  header .navbar .navbar-header .menu-principal-container ul li a {
    padding: 20px 8px 14px !important;
  }
  header .navbar .open-menu-button{
    display: block;
  }
  header .navbar .navbar-header .menu-principal-container ul li a {
    padding: 20px 30px !important;
    color: rgba(255, 255, 255, 0.5);
    font-family: var(--michroma);
    font-size: 21px;
    display: block;
  }
  header .navbar .navbar-header .menu-principal-container ul li {
    display: block;
    text-align: left;
    border: none;
  }
  header .navbar .navbar-header {
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 120%;
    width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: unset;
    background-color: #000;
    display: block;
    z-index: 5;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-transition: ease-in-out .2s;
    -moz-transition: ease-in-out .2s;
    -ms-transition: ease-in-out .2s;
    -o-transition: ease-in-out .2s;
    transition: ease-in-out .2s;
  }
  header .navbar .navbar-header.show-navbar-header {
    left: 0;
  }
  header .navbar .open-menu-button {
    display: block;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    right: 30px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    outline: none;
  }
  header .row .col-lg-8{
    position: unset;
  }
  header {
    position: relative;
    padding: 15px 0;
  }
  header .whatsapp{
    display: none;
  }
  .pg .secao-sobre-projeto article .titulo {
    min-height: 86px;
  }
  .pg .lista-eventos li .link-imagem figure {
    height: 150px;
  }
  .pg .secao-acessoria article {
    background-color: #000;
    padding: 77px 40px 77px 0px;
  }
  .pg .secao-acessoria figure::before {
    top: 133px;
    width: 540px;
    height: 378px;
  }
  header .navbar .navbar-header .menu-principal-container ul li:nth-child(1) a::before {
    right: unset;
    left: 210px;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-90deg);
    -moz-transform: translateY(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) rotate(-90deg);
    -o-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg);
    width: 18px;
    height: 11px;
    background-image: url(img/chevrondownblackasas.svg);
    opacity: 1;
  }
  header .navbar .navbar-header .menu-principal-container ul li .sub-menu{
    display: block;
    left: 120%;
    background-color: #000;
    z-index: 5;
    padding: 75px 0 0;
    min-height: 450px;
    margin: 0;
    -webkit-transition: ease-in-out .2s;
    -moz-transition: ease-in-out .2s;
    -ms-transition: ease-in-out .2s;
    -o-transition: ease-in-out .2s;
    transition: ease-in-out .2s;
  }
  header .navbar .navbar-header .menu-principal-container ul li .sub-menu.show-sub-menu{
    left: 0;
  }
  header .navbar .navbar-header .menu-principal-container ul li .sub-menu li a {
    padding: 20px 30px 20px 75px !important;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    max-width: 100%;
    line-height: 20px;
  }
  header .navbar .navbar-header .menu-principal-container ul li .sub-menu li:hover a{
    padding: 20px 30px 20px 75px !important;
    padding-left: 0;
  }
  header .navbar .navbar-header .menu-principal-container ul li .sub-menu li:hover {
    background-color: transparent;
  }
  header .navbar .navbar-header .menu-principal-container ul li .sub-menu li a::before, header .navbar .navbar-header .menu-principal-container ul li .sub-menu li a::after{
    opacity: 1;
    left: 30px;
    width: 32px;
    height: 32px;
    display: block;
    -webkit-filter: brightness(0.6);
    -moz-filter: brightness(0.6);
    -ms-filter: brightness(0.6);
    -o-filter: brightness(0.6);
    filter: brightness(0.6);
  }
  header .navbar .navbar-header .menu-principal-container ul li .sub-menu li a::after{
    display: none !important;
  }
  header .navbar .navbar-header .menu-principal-container ul li .sub-menu li:nth-child(5) a::before {
    width: 35px;
    height: 25px;
  }
  header .redes-sociais{
    display: block;
  }
  .pg .anuncio .anuncio-background {
    padding: 40px 70px;
  }
  .pg .anuncio .anuncio-background .div-button-padrao .button-padrao{
    padding: 14px 18px;
    letter-spacing: 2px;
  }
  .pg-inicial .secao-servicos{
    padding: 100px 0 50px 30px;
  }
  .pg .secao-sobre-projeto article ul li{
    letter-spacing: 2px;
  }
}
@media(max-width: 920px){
  .pg .secao-acessoria figure::before {
    top: 178px;
    left: -98px;
    width: 500px;
    height: 350px;
  }
}
@media(max-width: 860px){
  .pg .anuncio .anuncio-background {
    padding: 40px 50px;
  }
  :root {
    --font-size-titulo: 20px;
    --line-height-titulo: 25px;
    --line-height-titulo-destaque: 37px;
    --font-size-titulo-destaque: 32px;
  }
}
@media(max-width: 850px){
  .pg .secao-acessoria figure::before {
    top: 178px;
    width: 460px;
    height: 330px;
  }
  .pg .secao-localizacao ul li .localizacao {
    max-width: 200px;
  }
  .pg .secao-localizacao ul li .localizacao .titulo::before {
    right: 5px;
  }
  .pg .secao-sobre-projeto article ul li{
    padding-left: 24px;
  }
}
@media(max-width: 800px){
  .pg .lista-eventos li .link-titulo .titulo {
    font-size: 16px;
    line-height: 22px;
  }
  .pg .lista-eventos li .data-evento {
    font-size: 11px;
    margin: 16px 0 8px;
  }
  .pg .lista-eventos li .link-imagem figure {
    height: 120px;
  }
  .pg .lista-eventos li .data-evento, .pg .lista-eventos li .link-titulo {
    padding: 0 16px;
  }
}
@media(max-width: 768px){
  .col-mobile, .figure-mobile{
    display: block;
  }
  .col-desktop{
    display: none;
  }
  .figure-desktop{
    display: none !important;
  }
  footer .footer .menu-footer li a {
    padding: 0 5px;
    letter-spacing: 2px;
  }
  .pg-inicial .secao-servicos article {
    max-width: 100%;
    margin: 0 auto 40px;
    padding-right: 30px;
  }
  .pg-inicial .secao-servicos article p {
    max-width: 100%;
  }
  .pg-inicial .secao-servicos .carrossel-servicos {
    padding-left: 0;
  }
  .pg-inicial .secao-servicos {
    padding: 60px 0 40px;
  }
  .div-button-padrao .button-padrao {
    font-size: 11px;
  }
  .pg-inicial .secao-eventos {
    padding: 70px 0;
  }
  .pg-inicial .secao-eventos .lista-eventos {
    margin: 40px 0 0;
  }
  .pg .secao-acessoria{
    background: #000;
  }
  .pg .secao-acessoria article {
    padding: 90px 30px 337px;
    width: 100%;
    max-width: 517px;
  }
  .pg .secao-localizacao {
    padding: 410px 0 0;
  }
  .pg .secao-acessoria figure::before {
    top: -253px;
    left: 0;
    background-image: url(img/GroAaASup7.svg);
    background-position: top center;
    width: 100%;
    height: 590px;
  }
  .pg .secao-acessoria .large-container{
    padding: 0;
  }
  .pg .secao-acessoria article p {
    margin: 30px 0 70px;
  }
  .pg .secao-acessoria article .titulo {
    font-size: 25px;
    line-height: 35px;
  }
  .pg .secao-localizacao ul li.localizacao-active figure {
    height: 133px;
  }
  .pg .secao-localizacao ul li figure {
    width: 350px;
  }
  .pg-inicial .secao-servicos .servicos-container {
    padding-left: 20px; 
  }
  .pg-inicial .secao-servicos article .titulo, .pg-inicial .secao-servicos article p{
    padding-left: 10px;
  }
  .pg-inicial .agende-seu-horario{
    padding: 0;
  }
  .pg-inicial .secao-eventos{
    margin: 0;
  }
  .pg .anuncio{
    margin: 50px 0 0;
  }
  .pg-inicial .anuncio{
    margin: 50px 0; 
  }
  .pg-eventos .anuncio, .pg-servicos .anuncio{
    margin: 30px 0; 
  }
  .pg-inicial .agende-seu-horario{
   margin: 0; 
  }
  .pg .secao-sobre-projeto article ul li {
    max-width: 100%;
    margin: 0px 0 22px 0;
  }
}
@media(max-width: 650px){
  .pg .lista-eventos li .link-imagem figure {
    height: 90px;
  }
  .pg .lista-eventos li .data-evento, .pg .lista-eventos li .link-titulo {
    padding: 0 10px;
  }
  .pg .lista-eventos li .data-evento {
    font-size: 11px;
    margin: 13px 0 5px;
  }
  .pg .lista-eventos li .link-titulo .titulo {
    font-size: 15px;
    line-height: 18px;
  }
  .pg .secao-sobre-projeto article .sobre-projeto .buttons-carrossel {
    position: initial;
    margin: 0 0 20px;
  }
  .pg .secao-sobre-projeto article .sobre-projeto .div-button-padrao {
    text-align: left;
  }
}
@media(max-width: 620px){
  .div-button-padrao .button-padrao {
    letter-spacing: 2px;
  }
  .pg .anuncio .anuncio-background .div-button-padrao .button-padrao{
    padding: 14px 20px;
  }
  .pg .secao-localizacao ul li.localizacao-active figure {
    height: 95px;
  }
  .pg .secao-localizacao ul li figure {
    width: 250px;
  }
}
@media(max-width: 600px){
  footer .footer .menu-footer li a {
    padding: 0;
    font-size: 14px;
    letter-spacing: 2px;
  }
  footer .footer .menu-footer li {
    display: block;
    margin: 0 0 25px;
  }
  footer .footer .menu-footer {
    margin: 25px 0;
  }
  .pg .anuncio .anuncio-background .div-button-padrao {
    text-align: left;
    margin: 30px 0 0;
  }
  .pg-inicial .secao-sobre-projeto {
    padding: 50px 0 0;
  }
}
@media(max-width: 575px){
  .pg .anuncio .anuncio-background .titulo {
    width: 100%;
    max-width: 272px;
  }
}
@media(max-width: 515px){
  .pg .secao-localizacao ul li.localizacao-active {
    height: 404px;
  }
  .pg .secao-localizacao ul li .localizacao figure{
    display: block;
    width: 100%;
    height: 154px;
    opacity: 0;
  }
  .pg .secao-localizacao ul li.localizacao-active>figure{
    display: none;
  }
  .pg .secao-localizacao ul li .localizacao {
    max-width: 100%;
  }
  .pg .secao-localizacao ul li.localizacao-active .localizacao .titulo{
    margin: 0 0 30px;
  }
  .pg .secao-localizacao ul li .localizacao .titulo{
    margin: 15px 0 30px;
  }
  .pg .secao-localizacao ul li {
    padding: 18px 30px;
    height: 95px;
  }
  .pg .secao-localizacao ul li .localizacao .sobre-localizacao {
    margin: 25px 0 0;
  }
  footer {
    text-align: center;
    margin: 20px 0 40px;
  }
}
@media(max-width: 500px){
  :root {
    --font-size-titulo-destaque: 24px;
    --line-height-titulo-destaque: 32px;
    --font-size-texto: 13px;
    --line-height-texto: 18px;
  }
  .pg-inicial .secao-destaque article p {
    font-weight: 300;
  }
  .pg-inicial .secao-destaque .carrossel-destaque .item-destaque {
    padding: 350px 0 30px;
    background-position: top;
    height: 92.1vh;
  }
  .pg-inicial .secao-servicos .carrossel-servicos::before {
    width: 100px;
  }
  .pg .anuncio .large-container{
    padding: 0;
  }
  .pg .anuncio .anuncio-background {
    padding: 40px 30px;
  }
  .pg .secao-sobre-projeto article .titulo {
    text-align: left;
    margin: 0 auto 90px;
    min-height: 52px;
  }
  .pg .secao-sobre-projeto article .sobre-projeto {
    margin-right: 0;
  }
  .pg .secao-sobre-projeto article .sobre-projeto, .pg .secao-sobre-projeto article ul {
    max-width: 100%;
  }
  .pg .secao-sobre-projeto article ul {
    max-width: 100%;
  }
  .pg .secao-sobre-projeto article .sobre-projeto .div-button-padrao {
    display: none;
  }
  .pg .secao-sobre-projeto article .sobre-projeto p {
    margin: 20px 0 0;
  }
  .pg-inicial .secao-sobre-projeto .large-container{
    padding: 0;
  }
  .pg .secao-sobre-projeto article .div-button-padrao {
    display: block;
    margin: 20px 0 0;
  }
  .pg-inicial .conheca-store {
    margin: 0;
  }
  .pg .lista-eventos li .link-imagem figure img {
    width: 100%;
    height: auto !important;
  }
  .pg .lista-eventos li .link-imagem figure {
    height: auto !important;
    display: block;
  }
  .pg .lista-eventos li {
    display: block;
    max-width: 100%;
    margin: 0 0 50px !important;
  }
  .pg-inicial .secao-eventos .lista-eventos {
    margin: 30px 0 0;
  }
  .pg-inicial .secao-eventos .div-button-padrao {
    display: none;
  }
  .pg-inicial .secao-eventos .lista-eventos + .div-button-padrao{
    display: block;
  }
  .pg .lista-eventos li .link-titulo .titulo {
    font-size: 16px;
    line-height: 24px;
  }
  .pg .lista-eventos li .data-evento, .pg .lista-eventos li .link-titulo {
    padding: 0 16px;
  }
  .pg .lista-eventos li .data-evento {
    font-size: 13px;
    margin: 25px 0 14px;
  }
  .pg .secao-acessoria article {
    max-width: 370px;
  }
  .pg .secao-acessoria figure::before {
    height: 410px;
  }
  .pg .secao-acessoria article {
    padding: 90px 30px 307px;
  }
  .pg .secao-localizacao {
    padding: 180px 0 0;
  }
  .pop-up-agendamento .pop-up-container {
    max-width: 87%;
  }
  .pop-up-agendamento .pop-up article {
    padding: 30px;
  }
  .pop-up-agendamento .pop-up article .titulo {
    margin: 0 0 40px;
    font-size: 20px;
    line-height: 30px;
  }
  .pop-up-agendamento .pop-up article .lista-enderecos li {
    margin: 0 0 25px;
  }
  .pop-up-agendamento .pop-up article .lista-contatos {
    margin: 36px 0 0;
    padding: 34px 0 0;
  }
  .pop-up-agendamento .pop-up article .lista-contatos li {
    font-size: 14px;
    margin: 0 0 18px;
  }
  .pop-up-agendamento .pop-up .formulario-contato{
    height: 100%;
    width: 100%;
    background-color: #000;
    padding: 30px;
    -webkit-transition: ease-in-out .2s;
    -moz-transition: ease-in-out .2s;
    -ms-transition: ease-in-out .2s;
    -o-transition: ease-in-out .2s;
    transition: ease-in-out .2s;
  }
  .pop-up-agendamento .pop-up .formulario-contato.show-formulario{
    left: 0;
  }
  .pop-up-agendamento .pop-up form {
    padding: 0;
  }
  .pop-up-agendamento .pop-up .col-md-5{
    position: unset;
  }
  .pop-up-agendamento .pop-up{
    position: relative;
    overflow-x: hidden;
    min-height: 640px;
  }
  .pop-up-agendamento .pop-up form .icone-input {
    margin: 0 0 15px;
  }
  .pop-up-agendamento .pop-up form .icone-input textarea {
    height: 92px;
  }
  .pop-up-agendamento .formulario-contato .close-pop-up{
    margin: 0;
  }
  .pg .secao-sobre-projeto article ul li {
    display: block;
  }
  .pg-inicial .secao-destaque article {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 30px;
  }
  .large-container {
    height: 100%;
  }
  .pg .secao-sobre-projeto article .sobre-projeto .buttons-carrossel {
    position: absolute;
    top: -53px;
    left: 0;
  }
  .pg-eventos .anuncio, .pg-servicos .anuncio{
    margin: 30px 0 0;
  }
}
@media(max-width: 467px){
  .pg-inicial .secao-sobre-projeto .carrossel-projeto .item-projeto article .titulo {
    height: 74px;
  }
}
@media(max-width: 400px){
  .pop-up-agendamento .pop-up article .lista-enderecos li {
    margin: 0 0 16px;
    font-size: 13px;
  }
  .pop-up-agendamento .pop-up article .lista-contatos li {
    margin: 0 0 14px;
    padding: 0;
    font-size: 13px;
  }
  .pop-up-agendamento .pop-up article .lista-contatos li::before {
    display: none;
  }
  .pop-up-agendamento .pop-up .formulario-contato {
    padding: 30px 22px;
  }
  .pop-up-agendamento .pop-up article {
    padding: 30px 22px;
  }
}
@media(max-width: 390px){
  .pg .secao-acessoria figure::before {
    height: 320px;
  }
  .pg .secao-localizacao {
    padding: 80px 0 0;
  }
}
@media(max-width: 377px){
  .pg-inicial .secao-sobre-projeto .carrossel-projeto .item-projeto article .titulo {
    height: 99px;
  }
}
@media(max-width: 360px){
  .pg .secao-acessoria article .titulo {
    font-size: 20px;
    line-height: 28px;
  }
  .pg .secao-acessoria figure::before {
    height: 280px;
  }
  .pg .secao-localizacao {
    padding: 50px 0 0;
  }
}
@media(max-width: 350px){
  :root {
    --font-size-titulo-destaque: 20px;
    --line-height-titulo-destaque: 27px;
  }
  .pg-inicial .secao-destaque article {
    max-width: 262px;
  }
  .pg-inicial .secao-servicos .carrossel-servicos::before {
    width: 70px;
    background: linear-gradient(90deg, rgba(247, 247, 247, 0) -4%, #F7F7F7 100%);
  }
  .pg .lista-eventos li .data-evento, .pg .lista-eventos li .link-titulo {
    padding: 0 10px;
  }
  .pop-up-agendamento .pop-up article .div-button-padrao {
    padding: 35px 0 0;
  }
  .pop-up-agendamento .pop-up article .lista-contatos {
    margin: 26px 0 0;
    padding: 26px 0 0;
  }
  .pop-up-agendamento .pop-up article .lista-contatos li {
    margin: 0 0 14px;
  }
  .pop-up-agendamento .pop-up form .icone-input textarea {
    height: 85px;
  }
  .pop-up-agendamento .pop-up form .icone-input {
    margin: 0 0 12px;
  }
  .pop-up-agendamento .pop-up .formulario-contato .titulo {
    margin: 15px 0 18px;
  }
}